<section class="tarot-list">
	<h1> Tarot List </h1>
	{{#each tarotDeck as |card i|}}
	<div class="card" data-tarot-id="{{card.id}}">
		<h2>
			{{card.displayedName}}
		</h2>
		<div class="focus-list">
			{{#each (tarotFocii card) as |focus j|}}
			<div class="focus" data-focus-id="{{focus.id}}">
				<span class="focus-name">
					{{focus.displayedName}}:
				</span>
				<span class="description">
					{{focus.description}}
				</span>
			</div>
			{{/each}}
		</div>
	</div>
	{{/each}}
</section>
