<section class="combat-roll-header">
  {{#if attackerToken}}
  <div class="persona-images">
  <img class="inline" src="{{attackerToken.actor.img}}" title="{{attackerName}}">
  {{#if attackerPersona}}
  <img class="inline persona-img" src="{{attackerPersona.img}}" title="{{attackerPersona.publicName}}">
  {{/if}}
  </div>
  {{/if}}
  <h3>
    {{#if (not attackerToken)}}
    <span class="token-name">
      {{attackerName}}
    </span>
    {{/if}}
    <span class="power-name">
      {{effectName}}
    </span>
  </h3>
</section>
