<section class="combat-roll">
<h2>
	{{#if attackerToken}}
	<img src="{{attackerToken.actor.img}}" title="{{attackerName}}">
	{{#if attackerPersona}}
	<img src="{{attackerPersona.img}}" title="{{attackerPersona.name}}">
	{{/if}}
	{{else}}
	<span class="token-name">
		{{attackerName}}
	</span>
	{{/if}}
</h2>
<h2>
	<span class="power-name">
		{{effectName}}
	</span>
</h2>

<section class="persona-roll">
	{{#each attacks as |atk|}}
	<div class="atk-block">
		{{> "systems/persona/parts/simple-roll.hbs" roll=atk.attackResult.roll }}
		{{#if atk.attackResult.critBoost}}
		<div class="crit-boost gm-only">
			<div class="tooltip">
				<span>
					Critical Boost:
				</span>
				<span>
					{{atk.attackResult.critBoost}}
				</span>
				{{> "systems/persona/parts/printable-mods.hbs" mods=atk.attackResult.critPrintable gmOnly=atk.attackResult.roll.gmRoll}}
			</div>
		</div>
		{{/if}}
		{{#if atk.attackResult.instantKillRange}}
		<div class="instant-kill gm-only">
			<div class="tooltip">
				<span>
					Instant Kill Range:
				</span>
				<span>
					{{atk.attackResult.instantKillRange.low}}
					-
					{{atk.attackResult.instantKillRange.high}}
				</span>
			</div>
		</div>
		{{/if}}
		{{#if atk.attackResult.ailmentRange}}
		<div class="ailment-range gm-only">
			<div class="tooltip">
				<span>
					Instant Kill Range:
				</span>
				<span>
					{{atk.attackResult.ailmentRange.low}}
					-
					{{atk.attackResult.ailmentRange.high}}
				</span>
			</div>
		</div>
		{{/if}}
		<hr>
		<div class="attack-result">
			{{prettyAtkResult atk.attackResult}}
		</div>
		{{#each atk.changes as |change|}}
		{{> "systems/persona/parts/display-token-change.hbs" change=change attack=atk}}
		{{/each}}
		{{#if ../escalation}}
		Escalation Die {{../escalation}}
		{{/if}}
	</div>
	{{/each}}
	{{#each costs as |cost|}}
	{{> "systems/persona/parts/display-token-change.hbs" change=cost }}
	{{/each}}
</section>
{{#if manualApply}}
<button class="applyChanges">
	Apply Changes
</button>
{{/if}}
</section>
