<h2>
	<span class="token-name">
		{{attacker.name}}
	</span>
	<span class="uses">
		uses
	</span>
	<span class="power-name">
		{{power.name}}
	</span>
</h2>

<section class="persona-roll">
	{{#each attacks as |atk|}}
	<div class="atk-block">
		{{> "systems/persona/parts/simple-roll.hbs" roll=atk.attackResult.roll }}
		{{atk.attackResult.result}}
		{{#if atk.attackResult.situation.resisted}}
		<span class="resisted">(Resist)</span>
		{{/if}}
		{{#if atk.attackResult.situation.struckWeakness}}
		<span class="resisted">(Weak)</span>
		{{/if}}
		{{#if atk.attackResult.situation.isAbsorbed}}
		<span class="resisted">(Absorbed)</span>
		{{/if}}
		{{#each atk.changes as |change|}}
		<h3>
			{{change.token.name}}
		</h3>
		<div class="changes">
			{{#if change.hpchange}}
			{{abs change.hpchange}} damage ({{../../power.system.dmg_type}})
			{{/if}}
			{{#each change.addStatus as |status|}}
			+{{status.id}}
			{{/each}}
			{{#each change.removeStatus as |status|}}
			-{{status.id}}
			{{/each}}
		</div>
		{{/each}}
		{{#if escalation}}
		Escalation Die {{escalation}}
		{{/if}}
	</div>
	{{/each}}
</section>
<button class="applyChanges" data-result="{{result}}" >
	Apply Changes
</button>
