<h2>
	<span class="token-name">
		{{attacker.name}}
	</span>
	<span class="uses">
		uses
	</span>
	<span class="power-name">
		{{power.name}}
	</span>
</h2>

<section class="persona-roll">
	{{#each attacks as |atk|}}
	<div class="atk-block">
		{{> "systems/persona/parts/simple-roll.hbs" roll=atk.attackResult.roll }}
		{{#if atk.attackResult.critBoost}}
		<div class="crit-boost">
			<span>
				Critical Boost:
			</span>
			<span>
				{{atk.attackResult.critBoost}}
			</span>
		</div>
		{{/if}}
		<hr>
		<div class="attack-result">
			{{atk.attackResult.result}}
		</div>
		{{#each atk.changes as |change|}}
		{{> "systems/persona/parts/display-token-change.hbs" change=change power=../../power attack=atk}}
		{{/each}}
		{{#if ../escalation}}
		Escalation Die {{../escalation}}
		{{/if}}
	</div>
	{{/each}}
	{{#each costs as |cost|}}
	{{> "systems/persona/parts/display-token-change.hbs" change=cost power=../power}}
	{{/each}}
</section>
<button class="applyChanges">
	Apply Changes
</button>
