<section class="region-panel">
	<h2>
		{{region.name}}
	</h2>

	{{#if region.pointsOfInterest}}
	<div class="points-of-interest">
		<h3>Points of Interest</h3>
		{{#each region.pointsOfInterest as |poi|}}
		<li>
			{{poi}}
		</li>
		{{/each}}
	</div>
	{{/if}}

	<section class="data-block">

		{{#if region.regionData.concordiaPresence}}
		<div class="concordia-presence">
			<label> Concordia Presence: </label>
			{{region.regionData.concordiaPresence}}
		</div>
		{{/if}}

		<div class="treasures">
			<label>
				Treasures Found
			</label>
			{{data.treasures.found}}/ {{data.treasures.max}}
		</div>

		{{#if region.roomEffects}}
		<div class="room-effects">
			<h3>
				Room Modifiers
			</h3>
			<ul>
				{{#each region.roomEffects as |mod|}}
				<li>
					<b>{{mod.name}}</b> : {{mod.system.description}}
				</li> {{/each}}
			</ul>
		</div>
		{{/if}}

		{{#if region.specialMods}}
		<div class="special-mods">
			<h3> Special Modifiers</h3>
			<ul>
				{{#each region.specialMods as |mod|}}
				<li>
					{{mod}}
				</li>
				{{/each}}
			</ul>
		</div>
		{{/if}}

		{{#if (isGM) }}
		<div class="secret">
			<label>Secret:</label> {{data.secretDetails}} ({{region.secret}})
		</div>
		<div class="hazard">
			<label>Hazard: </label>
			{{data.hazardDetails}} ({{region.hazard}})
		</div>
		{{/if}}
	</section>

	{{#if (isGM) }}
	<hr>
	<div class="secret-notes">
		<h3>GM Notes</h3>
		<div>
			{{data.secretNotes}}
		</div>
	</div>
	{{/if}}



	<button class="search-button" {{#if (or region.isSafe (inCombat))}} disabled {{/if}}>
		Search Room
	</button>

</section>
