<h2>
	{{region.name}}
</h2>

{{#if region.pointsOfInterest}}
<div class="points-of-interest">
<h4>Points of Interest</h4>
{{#each region.pointsOfInterest as |poi|}}
<li>
	{{poi}}
</li>
{{/each}}
</div>
{{/if}}


{{#if region.regionData.concordiaPresence}}
<div class="concordia-presence">
	<label> Concordia Presence: </label>
	region.regionData.concordiaPresence
</div>
{{/if}}

<div class="treasures">
	<h4>
		Treasures Found
	</h4>
	{{data.treasures.found}}/ {{data.treasures.max}}
</div>

	{{#if region.roomEffects}}
<div class="room-effects">
	<h4>
		Room Modifiers
	</h4>
	<ul>
		{{#each region.roomEffects as |mod|}}
		<b>{{mod.name}}</b> : {{mod.system.description}}
		{{/each}}
	</ul>
</div>
	{{/if}}

{{#if region.specialMods}}
<div class="special-mods">
	<h4> Special Modifiers</h4>
	<ul>
		{{#each region.specialMods as |mod|}}
		<li>
			{{mod}}
		</li>
		{{/each}}
	</ul>
</div>
{{/if}}


