<span class="advanced-value">
{{#if (isOldFormValue cons)}}
<span class="old-form">
	<input class="short" type=number name="{{cutEndOfString namePrefix}}" value="{{cons}}">
</span>
{{else}}
<span class="new-form">
<select name="{{strcat namePrefix 'type'}}">
				{{selectOptions POWERSTUFF.CONSEQUENCE_AMOUNT_TYPES localize=true selected=cons.type}}
</select>
{{#if (eqAny (defVal cons.type "constant") "constant")}}
			<input class="short" type=number name="{{strcat namePrefix 'val'}}" value="{{cons.val}}">
{{/if}}

{{#if (eqAny cons.type "operation")}}
(
{{> "systems/persona/parts/advanced-numeric-value.hbs" namePrefix=(strcat namePrefix 'amt1.') cons=cons.amt1 POWERSTUFF=POWERSTUFF owner=owner}}
<select name="{{strcat namePrefix 'operator'}}">
	{{selectOptions POWERSTUFF.ARITHMETIC_OPERATORS localize=true selected=cons.operator}}
</select>
{{> "systems/persona/parts/advanced-numeric-value.hbs" namePrefix=(strcat namePrefix 'amt2.') cons=cons.amt2 POWERSTUFF=POWERSTUFF owner=owner}}
)
{{/if}}

{{#if (eqAny cons.type "variable-value")}}
	{{> "systems/persona/parts/variable-type-specifier.hbs" namePrefix=namePrefix cons=cons POWERSTUFF=POWERSTUFF owner=owner}}
{{/if}}

{{#if (eqAny cons.type "random-range")}}
			<input class="short" type=number name="{{strcat namePrefix 'min'}}" value="{{cons.min}}">
			to
			<input class="short" type=number name="{{strcat namePrefix 'max'}}" value="{{cons.max}}">
{{/if}}

{{#if (eqAny cons.type "item-property")}}
<select name="{{strcat namePrefix 'itemTarget'}}">
	{{selectOptions POWERSTUFF.ITEM_TARGETS localize=true selected=cons.itemTarget}}
</select>
<select name="{{strcat namePrefix 'property'}}">
	{{selectOptions POWERSTUFF.ITEM_PROPERTIES localize=true selected=cons.property}}
</select>

{{/if}}

</span>
{{/if}}
</span>
