<section class="events-section" data-top-path="system.events">
	<h2>
		Events
	</h2>
	<label> Number of Events</label>
	<input class="short" type="number" name="system.num_of_events" value="{{item.system.num_of_events}}">
	<section class="event-index {{#if (ne focusedEvent undefined)}} hidden {{/if}}">
		<ul>
			{{#each item.system.events as |event i|}}
			<li data-event-index="{{i}}">
				{{#if event.chainLabel}}
				<span class="event-chain-label">
					[{{event.chainLabel}}-{{event.chainCount}}]
				</span>
				{{/if}}

				{{#if event.label}}
				<span class="event-label {{#if (eventIsSpecialOnly event)}} special-event {{/if}}">
					[{{event.label}}]
				</span>
				{{/if}}
				<span class="name"> {{event.name}} </span>
				<span> ({{getEventType event}}) </span>
				</span>
				<a class="copy-event">
					<i class="fa-solid fa-copy"></i>
				</a>
				<a class="del-event">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</li>
			{{/each}}
		</ul>
	</section>

	<div>
		{{#if (gt item.system.num_of_events 0)}}
		<h4>Add Event
			<a class="add-event">
				<i class="fa-solid fa-plus"> </i>
			</a>
			<a class="paste-event">
				<i class="fa-solid fa-paste"></i>
			</a>
		</h4>
		{{/if}}
	</div>

</section>
