<section class="opportunity-section">
	<h3>
		Opportunities
		<a class="add-opportunity">
			<i class="fa-solid fa-plus"> </i>
		</a>
	</h3>
	<label> Opportunity Choices</label>
	<input class="short" type=number name="system.opportunity_choices" value="{{item.system.opportunity_choices}}">

	{{#each item.system.opportunity_list as |opportunity i|}}
	<div class="opportunity" data-opportunity-index="{{i}}">
		<h4>
			Opportunity {{i}}
			<span>
				<a class="del-opportunity">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</span>
		</h4>
		<div class="opportunity-cond">
			<h5> Conditions
				<a class="add-condition">
					<i class="fa-solid fa-plus"> </i>
				</a>
			</h5>
			{{#each opportunity.conditions as |cond j|}}
			{{> "systems/persona/parts/input-condition.hbs" namePrefix=(strcat "system.opportunity_list." i ".conditions." j ".")  cond=cond POWERSTUFF=../../item.sheet.powerStuff condition_index=j}}
			{{/each}}

		</div>

		<div>
			<label> Number of Choices Expended </label>
			<input class="short" type=number name="system.opportunity_list.{{i}}.choices" value="{{opportunity.choices}}">
		</div>
		<textarea name="system.opportunity_list.{{i}}.text">
			{{opportunity.text}}
		</textarea>
		<div class="card-roll">
			{{> "systems/persona/parts/card-roll-section.hbs" CONST=../SOCIAL_DATA namePrefix=(strcat "system.opportunity_list." i ".roll.") roll=opportunity.roll opp_index=i item=../item}}
		</div>
	</div>
	{{/each}}

</section>

