<div class="card-roll">
	<select name='{{strcat namePrefix "rollType"}}'>
		{{selectOptions (ternIf allowComplex CONST.ROLLTYPES CONST.SIMPLE_ROLL_TYPES) localize=true selected=roll.rollType}}
	</select>
	<div class="roll-tags">
	<select name='{{strcat namePrefix "rollTag1"}}'>
		{{selectOptions CONST.ROLL_TAGS localize=true selected=roll.rollTag1}}
	</select>
	<select name='{{strcat namePrefix "rollTag2"}}'>
		{{selectOptions CONST.ROLL_TAGS localize=true selected=roll.rollTag2}}
	</select>
	<select name='{{strcat namePrefix "rollTag3"}}'>
		{{selectOptions CONST.ROLL_TAGS localize=true selected=roll.rollTag3}}
	</select>
	</div>
	<div class="simple-roll-stuff">
		<span>
			<input type="checkbox" id="invert" name="{{strcat namePrefix 'simpleRoll'}}" {{checked roll.simpleRoll}}>
			<label> AutoProgress: </label>
			<input class="short" type=number name='{{strcat namePrefix "progressSuccess"}}' value="{{roll.progressSuccess}}">
			+
			<input class="short" type=number name='{{strcat namePrefix "progressCrit"}}' value="{{roll.progressCrit}}">
			(Fail: <input class="short" type=number name='{{strcat namePrefix "progressFail"}}' value="{{roll.progressFail}}">)
		</span>
	</div>

	{{#if (eq roll.rollType "studentSkillCheck")}}
	<select name='{{strcat namePrefix "studentSkill"}}'>
		{{selectOptions CONST.STUDENT_SKILLS_EXT localize=true selected=roll.studentSkill}}
	</select>
	<select name='{{strcat namePrefix "DC.subtype"}}'>
		{{selectOptions CONST.ROLL_DC_TYPES localize=false selected=roll.DC.subtype}}
	</select>
	{{#if (eq roll.DC.subtype "static")}}
		<input class="short" type=number name='{{strcat namePrefix "DC.staticDC"}}' value="{{roll.DC.staticDC}}">

	{{/if}}

	{{/if}}
	{{#if (eq roll.rollType "save")}}
	<div>
		<select name='{{strcat namePrefix "saveType"}}'>
			{{selectOptions CONST.SAVE_DIFFICULTY localize=true selected=roll.saveType}}
		</select>
		<label> Disallow Other Modifiers</label>
		<input type="checkbox" id="flagState" name="{{strcat namePrefix 'disallow_other_modifiers'}}" {{checked roll.disallow_other_modifiers}}>
	</div>
	{{/if}}
	{{#if (eqAny roll.rollType "studentSkillCheck" "save")}}
	{{#if (ne roll.DC.subtype "static")}}
	<div>
		<label>
			Modifier
		</label>
		<input class="short" type=number name='{{strcat namePrefix "modifier"}}' value="{{roll.modifier}}">
	</div>
	{{/if}}

{{/if}}
</div>
