<section class="events-section">
	<h2>
		Events
	</h2>
	<label> Number of Events</label>
	Event: <input class="short" type="number" name="system.num_of_events" value="{{item.system.num_of_events}}">

	{{#each item.system.events as |event i|}}
	<div class="card-event" data-event-index="{{i}}">
		<h3>
			<input class="event-name" type="string" name="system.events.{{i}}.name" value="{{event.name}}">
			<a class="del-event">
				<i class="fa-solid fa-trash-can"></i>
			</a>
		</h3>
		<div class="placement">
			<div>
				<label> Frequency</label>
				<select name="system.events.{{i}}.frequency">
					{{selectOptions ../SOCIAL_DATA.FREQUENCY localize=false selected=event.frequency}}
				</select>
			</div>
			<div>
				<label>
					Starter
				</label>
				<input type="checkbox" name="system.events.{{i}}.placement.starter" {{checked event.placement.starter}}>
			</div>
			<div>
				<label>
					Middle
				</label>
				<input type="checkbox" name="system.events.{{i}}.placement.middle" {{checked event.placement.middle}}>
			</div>
			<div>
				<label>
					Finale
				</label>
				<input type="checkbox" name="system.events.{{i}}.placement.finale" {{checked event.placement.finale}}>
			</div>
			<div>
				<label>
					Label
				</label>
			<input type="string" name="system.events.{{i}}.label" value="{{event.label}}">
			</div>
		</div>
		<h5> Event Conditions
			<a class="add-condition">
				<i class="fa-solid fa-plus"> </i>
			</a>
		</h5>
		{{#each event.conditions as |cond j|}}

		{{> "systems/persona/parts/input-condition.hbs" namePrefix=(strcat "system.events." i ".conditions." j ".")  cond=cond POWERSTUFF=../../POWERSTUFF condition_index=j}}

		{{/each}}

		<label> Event Setup</label>
		<textarea name="system.events.{{i}}.text">
			{{trim event.text}}
		</textarea>
		<h3> Choices </h3>
		{{#each event.choices as |choice j|}}
		{{> "systems/persona/parts/input-card-choice.hbs" CONST=../../SOCIAL_DATA POWERSTUFF=../../item.sheet.powerStuff namePrefix=(strcat "system.events." i ".choices." j ".") choiceIndex=j item=../../item choice=choice}}
		{{/each}}
		<div>
			<label>Add Choice
				<a class="add-choice">
					<i class="fa-solid fa-plus"> </i>
				</a>
			</label>
		</div>
	</div>

	{{/each}}
	<div>
		<h4>Add Event
			<a class="add-event">
				<i class="fa-solid fa-plus"> </i>
			</a>
		</h4>
	</div>

</section>


