<div class="card-roll">
	<select name='{{strcat namePrefix "rollType"}}'>
		{{selectOptions CONST.ROLLTYPES localize=true selected=roll.rollType}}
	</select>
	{{#if (eq roll.rollType "studentSkillCheck")}}
	<select name='{{strcat namePrefix "studentSkill"}}'>
		{{selectOptions CONST.STUDENT_SKILLS_EXT localize=true selected=roll.studentSkill}}
	</select>
	<select name='{{strcat namePrefix "DC.subtype"}}'>
		{{selectOptions CONST.ROLL_DC_TYPES localize=false selected=roll.DC.subtype}}
	</select>
	{{#if (eq roll.DC.subtype "static")}}
		<input class="short" type=number name='{{strcat namePrefix "DC.staticDC"}}' value="{{roll.DC.staticDC}}">

	{{/if}}

	{{/if}}
	{{#if (eq roll.rollType "save")}}
	<div>
		<select name='{{strcat namePrefix "saveType"}}'>
			{{selectOptions CONST.SAVE_DIFFICULTY localize=true selected=roll.saveType}}
		</select>
		<label> Disallow Other Modifiers</label>
		<input type="checkbox" id="flagState" name="{{strcat namePrefix 'disallow_other_modifiers'}}" {{checked roll.disallow_other_modifiers}}>
	</div>
	{{/if}}
	{{#if (eqAny roll.rollType "studentSkillCheck" "save")}}
	<div>
		<label>
			Modifier
		</label>
		<input class="short" type=number name='{{strcat namePrefix "modifier"}}' value="{{roll.modifier}}">
	</div>

{{/if}}
</div>
