<section class="combat-section">
	<div class="combat-stats flexcol">
		<h2>
			{{localize "persona.sheet.tabs.combat.header" }}
		</h2>
		<div class="lvl">
			<span>
				{{localize "persona.statistic.level"}}:
			</span>
			<span>
				<input class="short" type="number" name="system.combat.classData.level" value="{{actor.system.combat.classData.level}}">
			</span>
		</div>
		<div class="hp">
			<label>
				HP:
			</label>
			<span>
				<input class="short" type="number" name="system.combat.hp" value="{{actor.hp}}">
				/ {{actor.mhp}}</span>
		</div>
		{{> "systems/persona/parts/defenses-section.hbs" actor=actor CONST=CONST}}
		{{> "systems/persona/parts/resistance-section.hbs" actor=actor CONST=CONST}}
		<div class="slots">
			<h2>
				{{localize	"persona.statistic.powerslots"}}
			</h2>
			{{#each actor.system.slots as |slot lvl|}}
			<div>
				<span>
					{{lvl}}:
				</span>
				<input class="short" type="number" name="system.slots.[lvl]" value="{{slot}}">
				/ {{getMaxSlotsAt ../actor lvl}}
				{{/each}}
			</div>
		</div>
		{{> "systems/persona/parts/powers-table.hbs" actor=actor CONST=CONST}}
	</div>
</section>
