<section class="combat-section {{#if (isSimulated persona)}} simulated-persona {{/if}} f-col">
	<div class="combat-stats f-col">
		<div class="f-row">
			<div class="hp" title="{{hpBreakdown actor}}">
				<label>
					HP:
				</label>
				<span>
					{{#if (isGM)}}
					<span class="hp-main">
						<input class="short" type="number" name="system.combat.hp" value="{{actor.hp}}">
					</span>
					{{else}}
					<span class="hp-main">
						{{actor.hp}}
					</span>
					{{/if}}
				</span>
				<span class="max-hp">
					/ {{actor.mhpEstimate}}
				</span>
				{{#if actor.system.combat.bonusHP}}
				<span class="bonus-HP">
					(+ {{actor.system.combat.bonusHP}})
				</span>
				{{/if}}
			</div>
			{{#if (hasMP actor)}}
			<div class="mp" title="{{mpBreakdown actor}}">
				<label> MP </label>
				<span>
					{{#if (isGM)}}
					<input class="short" type="number" name="system.combat.mp.value" value="{{actor.system.combat.mp.value}}">
					{{else}}
					{{actor.system.combat.mp.value}}
					{{/if}}
				</span>
				<span>
					/ {{actor.mmp}}
				</span>
				{{#if actor.system.combat.bonusMP}}
				<span class="bonus-MP">
					(+ {{actor.system.combat.bonusMP}})
				</span>
				{{/if}}
			</div>
			{{/if}}
		</div>
		{{#if (hasPersona actor)}}
		<div class="active-persona">
			<label>
				Active Persona:
			</label>
			<span>
				{{persona.displayedName}}
			</span>
		</div>
		{{/if}}
		{{#if (isShadow actor)}}
		<div class="basic-attack-type">
			<span>
				<label> Basic Attack Damage Type:</label>
			</span>
			<span>
				{{actor.system.combat.baseDamageType}}

			</span>
		</div>
		{{/if}}

		{{> "systems/persona/parts/defenses-section.hbs" CONST=CONST persona=persona}}
		{{> "systems/persona/parts/resistance-section.hbs" CONST=CONST persona=persona}}
		<button class="rollSave">
			Roll Save
		</button>
		{{> "systems/persona/parts/powers-table.hbs" actor=actor CONST=CONST persona=persona showBonusPowers=true showLearnedBuffer=true activePowersOnly=activePowersOnly canDelete=canDelete showSideboard=false usePowers=true}}
	</div>
	<div class="talents">
		<span>
			Talents:
		</span>
			{{#each persona.talents as |talent i|}}
			<span class="talent" data-talent-id="{{talent.id}}" title="{{talent.description}}">
			{{talent.displayedName}}
		</span>
			{{/each}}
	</div>
	<div>
		{{> "systems/persona/parts/persona-stats-display.hbs" CONST=CONST persona=persona}}
	</div>

</section>
