<section class="outer-roll-block">
  <div class="roll-block">
    {{resolveTokenNameWithAccessor atk.attackResult.target}}
    {{> "systems/persona/parts/simple-roll.hbs" roll=atk.attackResult.roll }}
    <div class="new-range-block">
      {{#each atk.attackResult.ranges as |range|}}

      {{#if (and range.possible)}}
      <div class="range-{{range.type}} gm-only">
        <div class="tooltip">
          <span>
            {{localize (strcat "persona.rangeType." range.type)}}:
          </span>
          <span >
            {{range.low}}
            -
            {{range.high}}
          </span>
            <div class="tooltiptext">
              {{joinStepsHTML range.steps}}
            </div>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>

  </div>
  <div class="attack-result">
    <span class="simple-target">
      {{resolveTokenNameWithAccessor atk.attackResult.target}}
    </span>
    :
    <span>
      {{prettyAtkResult atk.attackResult}}
    </span>
  </div>
</section>
