<section class="control-inventory">
	<button class="return-button">
		Return
	</button>

	<div class="item-list">
	{{#each actor.usableConsumables as |item|}}
	<div class="inventory-item {{#if (not (canUsePower ../persona item))}} faded {{/if}}" data-item-id="{{item.id}}" title="{{item.tooltip}}">
		<span class="item-icon">
			{{displayIcon item}}
		</span>
		<span class="itemName">
			{{item.name}}
			{{#if (gt item.amount 1)}}
			( {{item.amount}} )
			{{/if}}
		</span>
	</div>
	{{/each}}
</section>
