<div class="roll-block">
	{{> "systems/persona/parts/simple-roll.hbs" roll=atk.attackResult.roll }}
	{{#if atk.attackResult.critBoost}}
	<div class="crit-boost gm-only">
		<div class="tooltip">
			<span>
				Critical Boost:
			</span>
			<span>
				{{atk.attackResult.critBoost}}
			</span>
			<div class="tooltiptext">
				{{joinStepsHTML atk.attackResult.critPrintable}}
			</div>
		</div>
		{{/if}}
		{{#if atk.attackResult.instantKillRange}}
		<div class="instant-kill">
			<div class="tooltip">
				<span>
					Instant Kill Range:
				</span>
				<span >
					{{atk.attackResult.instantKillRange.low}}
					-
					{{atk.attackResult.instantKillRange.high}}
				</span>
					<div class="tooltiptext">
						{{joinStepsHTML atk.attackResult.instantKillRange.steps}}
					</div>
			</div>
		</div>
		{{/if}}
		{{#if atk.attackResult.ailmentRange}}
		<div class="ailment-range">
			<div class="tooltip">
				<span>
					Ailment Range:
				</span>
				<span>
					{{atk.attackResult.ailmentRange.low}}
					-
					{{atk.attackResult.ailmentRange.high}}
				</span>
				<div class="tooltiptext">
					{{joinStepsHTML atk.attackResult.ailmentRange.steps}}
				</div>
			</div>
		</div>
		{{/if}}
		<hr>
		<div class="attack-result">
			{{prettyAtkResult atk.attackResult}}
		</div>
	</div>

