<section class="combat-section">
	<div class="combat-stats flexcol">
		<div class="flexrow">
			<div class="hp">
				<label>
					HP:
				</label>
				<span>
					{{#if (isGM)}}
					<input class="short" type="number" name="system.combat.hp" value="{{actor.hp}}">
					{{else}}
					{{actor.hp}}
					{{/if}}
				</span>
				<span>
					/ {{actor.mhp}}
				</span>
			</div>
			{{#if (hasMP actor)}}
			<div class="mp">
				<label> MP </label>
				<span>
					{{#if (isGM)}}
					<input class="short" type="number" name="system.combat.mp.value" value="{{actor.system.combat.mp.value}}">
					{{else}}
					{{actor.system.combat.mp.value}}
					{{/if}}
				</span>
				<span>
					/ {{actor.mmp}}
				</span>
			</div>
			{{/if}}
		</div>
		{{#if (isShadow actor)}}
		<div class="shadow-dmg">
			<label>
				Damage
			</label>
			<span>
				<select name="system.combat.baseDamageType">
					{{selectOptions CONST.DAMAGETYPES  localize=true selected=actor.system.combat.baseDamageType }}
				</select>
			</span>
			<span>
				{{numberInput actor.system.combat.wpndmg.low class="short" name="system.combat.wpndmg.low" step=1 min=0 max=100}}
				{{numberInput actor.system.combat.wpndmg.high class="short" name="system.combat.wpndmg.high" step=1 min=0 max=100}}
			</span>
		</div>
		{{/if}}
		{{#if (isPC actor) }}
		{{#if (gte actor.system.personaList.length 1)}}
		<div>
			<span>
				<label> Active Persona:</label>
				<select name="system.activePersona">
					{{selectOptions PERSONA_LIST localize=false selected=actor.system.activePersona}}
				</select>
			</span>
		</div>
		{{/if}}
		{{/if}}

		{{> "systems/persona/parts/defenses-section.hbs" CONST=CONST persona=(persona actor)}}
		{{> "systems/persona/parts/resistance-section.hbs" CONST=CONST persona=(persona actor)}}
		<button class="rollSave">
			Roll Save
		</button>
		{{> "systems/persona/parts/powers-table.hbs" actor=actor CONST=CONST persona=(persona actor)}}
		{{#if (canUseTalents actor)}}
		{{> "systems/persona/parts/talents-table.hbs" actor=actor CONST=CONST persona=(persona actor)}}
		{{/if}}
		<hr>
		{{> "systems/persona/parts/focii-table.hbs" actor=actor CONST=CONST persona=(persona actor)}}
		<hr>
	</div>
</section>
