<section class="conditions-section">
	<h2> Conditions
		<a class="addCondition">
			<i class="fa-solid fa-plus"> </i>
		</a>
	</h2>
	{{#each effect.conditions as |cond j|}}
	<div class="condition-block" data-precondition-index="{{j}}">
		<div class="type-selector">
			<label>
				type:
			</label>
			<select name="system.effects.{{../i}}.conditions.{{j}}.type">
				{{selectOptions ../POWERSTUFF.PRECONDITIONTYPES localize=true selected=cond.type}}
			</select>
			<input class="short" type=number name="system.effects.{{../i}}.conditions.{{j}}.num" value="{{cond.num}}">
			{{#if (eq cond.type	"power-damage-type-is")}}
			<select name="system.effects.{{../i}}.conditions.{{j}}.powerDamageType">
				{{selectOptions ../POWERSTUFF.DAMAGETYPES localize=true selected=cond.powerDamageType}}
			</select>
			{{/if}}
			{{#if (strIncludes cond.type "status")}}
			<select name="system.effects.{{../i}}.conditions.{{j}}.status">
				{{selectOptions ../POWERSTUFF.STATUSEFFECTS localize=true selected=cond.status}}
			</select>
			{{/if}}
		</div>
		<a class="delCondition">
			<i class="fa-solid fa-trash-can"></i>
		</a>
	</div>
	{{/each}}
</section>
