<div class="defenses">
	<div class="defense">
		<label>
			{{localize "persona.defense.fort"}}
		</label>
		<span>
			{{getDefense actor "fort"}}
		</span>
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.ref"}}
		</label>
		<span>
			{{getDefense actor "ref"}}
		</span>
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.will"}}
		</label>
		<span>
			{{getDefense actor "will"}}
		</span>
	</div>
</div>

