	{{#if (gte (scanLevel persona) 2)}}
	<div class="defenses DR">
		<div title="{{WeaponDRBreakdown persona}}">
			<label>
				Weapon DR
			</label>
			{{getWeaponDR persona}}
		</div>
		<div title="{{MagicDRBreakdown persona}}">
			<label>
				Magic DR
			</label>
			{{getMagicDR persona}}
		</div>

	</div>
<div class="defenses">
	{{#each CONST.REAL_DEFENSE_TYPES as |locName systemName|}}
	<div class="defense" title="{{defenseBreakdown ../persona systemName}}">
		<label>
			{{localize locName}}
		</label>
		{{getDefense ../persona systemName}}
	</div>
	{{/each}}
	<div class="initiative">
		<label>
			Initiative
		</label>
		{{getInit persona}}
	</div>
</div>
{{/if}}

