{{#if actor.isUnderDefenseCap}}
<div class="error">
	UNSPENT BOOSTS
</div>
{{/if}}
{{#if actor.isOverDefenseCap}}
<div class="error">
	OVER DEFENSE CAP
</div>
{{/if}}
<div class="defenses">
	<div class="defense">
		<label>
			{{localize "persona.defense.fort"}}
		</label>
		<span class="manual-boost">
			<select name="system.combat.defenses.fort">
				{{selectOptions CONST.DEFENSE_CATEGORY localize=true selected=actor.system.combat.defenses.fort}}
			</select>
		</span>
		<span>
			{{getDefense actor "fort"}}
		</span>
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.ref"}}
		</label>
		<span class="manual-boost">
			<select name="system.combat.defenses.ref">
				{{selectOptions CONST.DEFENSE_CATEGORY localize=true selected=actor.system.combat.defenses.ref}}
			</select>
		</span>
		<span>
			{{getDefense actor "ref"}}
		</span>
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.will"}}
		</label>
		<span class="manual-boost">
			<select name="system.combat.defenses.will">
				{{selectOptions CONST.DEFENSE_CATEGORY localize=true selected=actor.system.combat.defenses.will}}
			</select>
		</span>
		<span>
			{{getDefense actor "will"}}
		</span>
	</div>
	<div class="initiative">
		<label>
			{{localize "persona.statistic.initiative"}}
		</label>
		<span class="manual-boost">
			<select name="system.combat.initiative">
				{{selectOptions CONST.DEFENSE_CATEGORY localize=true selected=actor.system.combat.initiative}}
			</select>
		</span>
		<span>
			{{getInit actor}}
		</span>
	</div>
	<div class="defense">
		<label>
			{{localize	"persona.modifier.critResist"}}
		</label>
		{{getCritResist actor }}
	</div>

</div>

