<div class="defenses">
	<div class="defense">
		<label>
			{{localize "persona.defense.fort"}}
		</label>
		{{#if (isShadow actor)}}
		<span class="manual-boost">
			{{numberInput actor.system.combat.defenses.fort class="short" name="system.combat.defenses.fort" step=1 min=-10 max=10}}
		</span>
		{{/if}}
		<span>
			{{getDefense actor "fort"}}
		</span>
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.ref"}}
		</label>
		{{#if (isShadow actor)}}
		<span class="manual-boost">
			{{numberInput actor.system.combat.defenses.ref class="short" name="system.combat.defenses.ref" step=1 min=-10 max=10}}
		</span>
		{{/if}}
		<span>
			{{getDefense actor "ref"}}
		</span>
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.will"}}
		</label>
		{{#if (isShadow actor)}}
		<span class="manual-boost">
			{{numberInput actor.system.combat.defenses.will class="short" name="system.combat.defenses.will" step=1 min=-10 max=10}}
		</span>
		{{/if}}
		<span>
			{{getDefense actor "will"}}
		</span>
	</div>
</div>

