<div class="defenses">
	<div class="defense">
		<label>
			{{localize "persona.defense.fort"}}
		</label>
		{{#if (lt (scanLevel persona) 2)}}
		{{persona.defenses.fort}}
		{{else}}
		{{getDefense persona "fort"}}
		{{/if}}
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.ref"}}
		</label>
		{{#if (lt (scanLevel persona) 2)}}
		{{persona.defenses.ref}}
		{{else}}
		{{getDefense persona "ref"}}
		{{/if}}
	</div>
	<div class="defense">
		<label>
			{{localize "persona.defense.will"}}
		</label>
		{{#if (lt (scanLevel persona) 2)}}
		{{persona.defenses.will}}
		{{else}}
		{{getDefense persona "will"}}
		{{/if}}
	</div>
</div>

