<div class="changes">
	<span class="change-target">
		{{getTokenAccName change.actor}}:
	</span>
	{{#if change.hpchange}}
	{{abs change.hpchange}} damage ({{change.damageType}})
	{{#if attack.attackResult.situation.resisted}}
	<span class="resisted">(Resist)</span>
	{{/if}}
	{{#if attack.attackResult.situation.struckWeakness}}
	<span class="resisted">(Weak)</span>
	{{/if}}
	{{#if attack.attackResult.situation.isAbsorbed}}
	<span class="resisted">(Absorbed)</span>
	{{/if}}
	{{/if}}
	{{#each change.addStatus as |status|}}
	+{{localize (concat "persona.status." status.id)}}
	{{/each}}
	{{#each change.removeStatus as |status|}}
	-{{localize (concat "persona.status." status.id)}}
	{{/each}}
	{{#each change.expendSlot as |slot i|}}
	{{#if (ne slot 0)}}
	Expend Slot {{i}}
	{{/if}}
	{{/each}}
	{{#each change.otherEffects as |effect|}}
	<span class="other-effect">
		{{#if (eq effect.type "set-flag")}}
		{{#if effect.state}}Set {{else}} Clear{{/if}}
		Flag ---  {{getEffectFlagName ../change.actor effect}}
		{{/if}}
		{{#if (eq effect.type "expend-item")}}
		Expend Item
		{{/if}}
		{{#if (eq effect.type "extraTurn")}}
		Take an Extra turn
		{{/if}}
		{{#if (eq effect.type "recover-slot")}}
		Recover Slot ({{effect.slot}}), (apply manually)
		{{/if}}
		{{#if (eq effect.type "Inspiration")}}
		Inspiration Paid: {{effect.amount}}
		{{/if}}
		{{#if (eq effect.type "display-message")}}
		{{effect.msg}}
		{{/if}}
		{{#if (eq effect.type "hp-loss")}}
		Power HP Cost: {{effect.amount}}
		{{/if}}
	</span>
	{{/each}}
</div>

