<div class="changes">
	<span class="change-target">
		{{getTokenAccName change.actor}}:
	</span>
	{{#each change.damage as |damage|}}
	<span class="damage-element">
		<span class="tooltip">
			{{#if (lt damage.hpChange 0)}}
			<span class="damage">{{abs damage.hpChange}}</span> {{displayDamageIcon damage.damageType}}
			{{else}}
			<span class="healing">{{abs damage.hpChange}}</span> {{displayDamageIcon damage.damageType}}
			{{/if}}
			{{> "systems/persona/parts/damage-calc-display.hbs" damage=damage}}
		</span>
		<span>
			{{#if damage.resisted}}
			<span class="resisted">(Resist)</span>
			{{/if}}
		</span>
		<span>
			{{#if damage.weakness}}
			<span class="resisted">(Weak)</span>
			{{/if}}
		</span>
	</span>
	{{/each}}

	{{#each change.addStatus as |status|}}
	+{{displayStatusIcon status.id}}
	{{/each}}
	{{#each change.removeStatus as |status|}}
	-{{displayStatusIcon status.id}}
	{{/each}}
	{{#each change.otherEffects as |effect|}}
	<span class="other-effect">
		{{#if (eq effect.type "set-flag")}}
		{{#if effect.state}}Set {{else}} Clear{{/if}}
		Flag ---  {{getEffectFlagName ../change.actor effect}}
		{{/if}}
		{{#if (eq effect.type "expend-item")}}
		Expend Item
		{{/if}}
		{{#if (and false (eq effect.type "extraTurn"))}}
		Take an Extra turn
		{{/if}}
		{{#if (eq effect.combatEffect "auto-end-turn")}}
		Automatically End Turn
		{{/if}}
		{{#if (eq effect.type "recover-slot")}}
		Recover {{effect.amt}} Slot ({{effect.slot}}), (auto applied)
		{{/if}}
		{{#if (eq effect.type "inspiration-cost")}}
		Inspiration Paid: {{effect.amount}}
		{{/if}}
		{{#if (eq effect.type "display-message")}}
		{{effect.msg}}
		{{/if}}
		{{#if (eq effect.type "alter-energy")}}
		Energy {{effect.amount}}
		{{/if}}

		{{#if (eq effect.type "alter-mp")}}

		{{#if (eq effect.subtype "direct")}}
		MP {{effect.amount}}
		{{/if}}
		{{#if (eq effect.subtype "percent-of-total")}}
		MP {{effect.amount}}%
		{{/if}}

		{{/if}}

		{{#if (eq effect.type "scan")}}
		Scan Lvl. {{effect.level}}
		{{/if}}
		{{#if (eq effect.type "hp-loss")}}
		Power HP Cost: {{effect.amount}}
		{{/if}}
	</span>
	{{/each}}
</div>

