<div class="eventTags">
	{{#if (isGM)}}
	<h2>
		<span>Tags</span>
		<a class="addTag">
			<i class="fa-solid fa-plus"> </i>
		</a>
	</h2>
	<div class="tag-list">
		{{#each event.eventTags as |tag i|}}
		<div class="tag-item", data-tag-index="{{i}}">
			<select name="system.events.{{../eventIndex}}.eventTags.{{i}}">
				{{selectOptions ../POWERSTUFF.ROLL_TAGS_AND_CARD_TAGS localize=true selected=tag}}
			</select>
			<a class="delTag">
				<i class="fa-solid fa-trash-can"></i>
			</a>
		</div>
		{{/each}}
	</div>
	{{else}}
	<span>Tags: </span> <span>{{getEventTagList item}}</span>
	{{/if}}
</div>


