<div class="choice" data-choice-index="{{choiceIndex}}">
	<h5>
		Choice: <input type=string name='{{strcat namePrefix "name"}}' value="{{choice.name}}">
		<a class="del-choice">
			<i class="fa-solid fa-trash-can"></i>
		</a>
	</h5>

	{{> "systems/persona/parts/conditions-section.hbs" namePrefix=(strcat namePrefix "conditions.")  POWERSTUFF=POWERSTUFF owner=item}}

	{{> "systems/persona/parts/card-roll-section.hbs" CONST=CONST namePrefix=(strcat namePrefix "roll.") roll=choice.roll item=item allowComplex=true}}

{{> "systems/persona/parts/effects-section-adaptable.hbs" namePrefix=(strcat namePrefix "postEffects.effects.") effects=choice.postEffects.effects POWERSTUFF=item.sheet.powerStuff owner=item}}

	<textarea name="{{strcat namePrefix "text"}}">{{trim choice.text}}</textarea>
</div>

