
{{#if (eqAny cond.boolComparisonTarget "target-owner-comparison" "engaged-with" )}}
<div>
	<select name="{{strcat namePrefix 'conditionTarget2'}}">
		{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget2}}
	</select>
	<span>==</span>
	<select name="{{strcat namePrefix 'conditionTarget'}}">
		{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
	</select>
</div>
{{/if}}
{{#if (eqAny cond.boolComparisonTarget "engaged" "is-pc" "is-shadow" "is-dead" "is-same-arcana" "struck-weakness" "has-status" "flag-state" "is-resistant-to" "social-target-is" "is-distracted" "is-enemy")}}
<div>
	<select name="{{strcat namePrefix 'conditionTarget'}}">
		{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
	</select>
</div>
{{/if}}

{{#if (eqAny cond.boolComparisonTarget "is-enemy")}}
<div>
	<select name="{{strcat namePrefix 'conditionTarget2'}}">
		{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget2}}
	</select>
</div>
{{/if}}

<div>
	<select id="comparison-target" name="{{strcat namePrefix 'boolComparisonTarget'}}">
		{{selectOptions (deprecationList cond.boolComparisonTarget POWERSTUFF.NONDEPBOOLEAN_COMPARISON_TARGET POWERSTUFF.BOOLEAN_COMPARISON_TARGET) localize=true selected=cond.boolComparisonTarget}}
	</select>
</div>
<div>
	<label>
		Is True</label>
	<input type="checkbox" id="flagState" name="{{strcat namePrefix 'booleanState'}}" {{checked cond.booleanState}}>
</div>
{{#if (strIncludes cond.boolComparisonTarget "status")}}
<div>
	{{multicheck (strcat namePrefix 'status') POWERSTUFF.STATUSEFFECTS checked=cond.status localize=true}}
</div>
{{/if}}
{{#if (eq cond.boolComparisonTarget "damage-type-is")}}
{{multicheck (strcat namePrefix 'powerDamageType') POWERSTUFF.DAMAGETYPES checked=cond.powerDamageType localize=true}}
{{/if}}
{{#if (strIncludes cond.boolComparisonTarget "resistant")}}
<select name="{{strcat namePrefix 'powerDamageType'}}">
	{{selectOptions POWERSTUFF.DAMAGETYPESPLUS localize=true selected=cond.powerDamageType}}
</select>
{{/if}}
{{#if (eqAny cond.boolComparisonTarget "has-tag" "not-has-tag")}}
<select name="{{strcat namePrefix 'tagComparisonType'}}">
	{{selectOptions POWERSTUFF.TAG_COMPARISON_TYPES localize=true selected=cond.tagComparisonType}}
</select>
{{#if (eqAny cond.tagComparisonType "power")}}
{{multicheck (strcat namePrefix 'powerTag') POWERSTUFF.TAGS checked=cond.powerTag localize=true}}
{{/if}}

{{#if (eqAny cond.tagComparisonType "actor")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{multicheck (strcat namePrefix 'creatureTag') POWERSTUFF.CREATURE_TAGS checked=cond.creatureTag localize=true}}
{{/if}}
{{#if (eqAny cond.tagComparisonType "roll")}}
{{multicheck (strcat namePrefix 'rollTag') POWERSTUFF.ROLL_TAGS_AND_CARD_TAGS checked=cond.rollTag localize=true}}
{{/if}}

{{#if (eqAny cond.tagComparisonType "weapon")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{multicheck (strcat namePrefix 'rollTag') POWERSTUFF.WEAPON_TAGS checked=cond.rollTag localize=true}}
{{/if}}
{{/if}}

{{#if (eqAny cond.boolComparisonTarget "has-creature-tag")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{multicheck (strcat namePrefix 'creatureTag') POWERSTUFF.CREATURE_TAGS checked=cond.creatureTag localize=true}}
{{/if}}
{{#if (eq cond.boolComparisonTarget	"power-type-is")}}
<select name="{{strcat namePrefix 'powerType'}}">
	{{selectOptions POWERSTUFF.POWERTYPES localize=true selected=cond.powerType}}
</select>
{{/if}}
{{#if (eq cond.boolComparisonTarget "flag-state")}}
<label>Flag Id </label>
<input class="flag-id" type="text" width=2 name="{{strcat namePrefix 'flagId'}}" value="{{cond.flagId}}">
</input>
{{/if}}
{{#if (eq cond.boolComparisonTarget "weather-is")}}
<label>Weather </label>
{{multicheck (strcat namePrefix 'weatherComparison') POWERSTUFF.WEATHER_TYPES checked=cond.weatherComparison localize=true}}
{{/if}}
{{#if (eq cond.boolComparisonTarget  "power-target-type-is")}}
<div>
	{{multicheck (strcat namePrefix 'powerTargetType') POWERSTUFF.TARGETING checked=cond.powerTargetType localize=true}}
</div>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "weekday-is")}}
<div class="days">
	{{#each POWERSTUFF.DAYS_LIST as |day i|}}
	<div class="day">
		<div>
			<label> {{day}} </label>
		</div>
		<div>
			<input type="checkbox" id="{{day}}" name="{{strcat ../namePrefix 'days.' day}}" {{checked (lookup ../cond.days day)}} }}>
		</div>
	</div>
	{{/each}}
</div>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "social-target-is-multi")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{multicheck (strcat namePrefix 'socialLinkIdOrTarot') POWERSTUFF.SOCIAL_LINKS checked=cond.socialLinkIdOrTarot localize=true}}
{{/if}}

{{#if (eq cond.boolComparisonTarget  "social-target-is")}}
<select name="{{strcat namePrefix 'socialLinkIdOrTarot'}}">
	{{selectOptions POWERSTUFF.SOCIAL_LINK_OR_TAROT localize=true selected=cond.socialLinkIdOrTarot}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "shadow-role-is")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{multicheck (strcat namePrefix 'shadowRole') POWERSTUFF.SHADOW_ROLE checked=cond.shadowRole localize=true}}
{{/if}}

{{#if (eq cond.boolComparisonTarget  "active-scene-is")}}
<select name="{{strcat namePrefix 'sceneId'}}">
	{{selectOptions POWERSTUFF.SCENES localize=true selected=cond.sceneId}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "is-gm")}}
<select name="{{strcat namePrefix 'userComparisonTarget'}}">
	{{selectOptions POWERSTUFF.USER_COMPARISON_TARGETS localize=true selected=cond.userComparisonTarget}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "has-item-in-inventory")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
<select name="{{strcat namePrefix 'itemId'}}">
	{{selectOptions POWERSTUFF.ITEMS localize=false selected=cond.itemId}}
</select>
<div>
	<span>
		<label> Must Be Equipped </label>
		<input type="checkbox" id="flagState" name="{{strcat namePrefix 'equipped'}}" {{checked cond.equipped}}>
	</span>
</div>
{{/if}}

{{#if (eq cond.boolComparisonTarget "logical-or")}}
<div class="sub-condition">
	{{> "systems/persona/parts/input-condition-body.hbs" namePrefix=(strcat namePrefix "comparison1.")  cond=cond.comparison1 POWERSTUFF=POWERSTUFF owner=owner}}
</div>
<div class="sub-condition">
	{{> "systems/persona/parts/input-condition-body.hbs" namePrefix=(strcat namePrefix "comparison2.")  cond=cond.comparison2 POWERSTUFF=POWERSTUFF owner=owner}}
</div>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "creature-type-is")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{multicheck (strcat namePrefix 'creatureType') POWERSTUFF.CREATURE_TYPE checked=cond.creatureType localize=true}}
{{/if}}

{{#if (eq cond.boolComparisonTarget  "power-slot-is")}}
{{multicheck (strcat namePrefix 'slotType') POWERSTUFF.SLOTTYPES checked=cond.slotType localize=true}}
{{/if}}

{{#if (eq cond.boolComparisonTarget  "arcana-is")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
<select name="{{strcat namePrefix 'tarot'}}">
	{{selectOptions POWERSTUFF.TAROT_DECK localize=true selected=cond.tarot}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "relationship-type-is")}}
<select name="{{strcat namePrefix 'relationshipType'}}">
	{{selectOptions POWERSTUFF.RELATIONSHIP_TYPE_OBJECT localize=false selected=cond.relationshipType}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget  "social-availability")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
<select name="{{strcat namePrefix 'socialTypeCheck'}}">
	{{selectOptions POWERSTUFF.SOCIAL_CHECKS localize=true selected=cond.socialTypeCheck}}
</select>

{{#if (eqAny cond.socialTypeCheck "is-dating" "is-available" "relationship-type-check")}}
<select name="{{strcat namePrefix 'socialLinkIdOrTarot'}}">
	{{selectOptions POWERSTUFF.SOCIAL_LINK_OR_TAROT localize=true selected=cond.socialLinkIdOrTarot}}
</select>
{{/if}}

{{#if (eq cond.socialTypeCheck "relationship-type-check")}}
<select name="{{strcat namePrefix 'relationshipType'}}">
	{{selectOptions POWERSTUFF.RELATIONSHIP_TYPE_OBJECT localize=false selected=cond.relationshipType}}
</select>
{{/if}}
{{/if}}

{{#if (eq cond.boolComparisonTarget "scene-clock-name-is")}}
<input type=string name="{{strcat namePrefix 'clockName'}}" value="{{cond.clockName}}">
{{/if}}

{{#if (eq cond.boolComparisonTarget "using-meta-pod")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget "actor-exists")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget "knows-power")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
<select name="{{strcat namePrefix 'powerId'}}">
	{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=true selected=cond.powerId}}
</select>
{{/if}}

{{#if (eq cond.boolComparisonTarget "has-class")}}
<select name="{{strcat namePrefix 'conditionTarget'}}">
	{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
</select>
{{multicheck (strcat namePrefix 'classId') POWERSTUFF.CLASSES checked=cond.classId localize=true}}
{{/if}}

{{#if (eq cond.boolComparisonTarget "power-has")}}
<select name="{{strcat namePrefix 'powerProp'}}">
	{{selectOptions POWERSTUFF.POWER_COMPARISON_SUBLIST localize=true selected=cond.powerProp}}
</select>

{{#if (eq cond.powerProp "power-target-type-is") }}
<div>
	{{multicheck (strcat namePrefix 'powerTargetType') POWERSTUFF.TARGETING checked=cond.powerTargetType localize=true}}
</div>
{{/if}}

{{#if (eq cond.powerProp "power-type-is") }}
<select name="{{strcat namePrefix 'powerType'}}">
	{{selectOptions POWERSTUFF.POWERTYPES localize=true selected=cond.powerType}}
</select>
{{/if}}

{{#if (eq cond.powerProp "power-slot-is") }}
{{multicheck (strcat namePrefix 'slotType') POWERSTUFF.SLOTTYPES checked=cond.slotType localize=true}}
{{/if}}

{{#if (eq cond.powerProp "damage-type-is") }}
{{multicheck (strcat namePrefix 'powerDamageType') POWERSTUFF.DAMAGETYPES checked=cond.powerDamageType localize=true}}
{{/if}}

{{#if (eq cond.powerProp "has-tag") }}
{{multicheck (strcat namePrefix 'powerTag') POWERSTUFF.TAGS checked=cond.powerTag localize=true}}
{{/if}}

{{#if (eq cond.powerProp "power-name-is") }}
<select name="{{strcat namePrefix 'powerId'}}">
	{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=true selected=cond.powerId}}
</select>
{{/if}}

{{/if}}

{{#if (eq cond.boolComparisonTarget "roll-property-is")}}
<select name="{{strcat namePrefix 'rollProp'}}">
	{{selectOptions POWERSTUFF.ROLL_COMPARISON_SUBLIST localize=true selected=cond.rollProp}}
</select>
{{/if}}

