
<div class="condition-block" data-precondition-index="{{condition_index}}">
	<div class="type-selector">
		<label>
			type:
		</label>
		<select name="{{strcat namePrefix 'type'}}">
			{{selectOptions POWERSTUFF.PRECONDITIONTYPES localize=true selected=cond.type}}
		</select>
	</div>

	{{#if (eq cond.type	"power-damage-type-is")}}
	<select name="{{strcat namePrefix 'powerDamageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=cond.powerDamageType}}
	</select>
	{{/if}}

	{{#if (strIncludes cond.type "has-tag")}}
	<select name="{{strcat namePrefix 'powerTag'}}">
		{{selectOptions POWERSTUFF.TAGS localize=true selected=cond.powerTag}}
	</select>
	{{/if}}

	{{#if (strIncludes cond.type "not-tag")}}
	<select name="{{strcat namePrefix 'powerTag'}}">
		{{selectOptions POWERSTUFF.TAGS localize=true selected=cond.powerTag}}
	</select>
	{{/if}}
	{{#if (strIncludes cond.type "numeric")}}
	<div>
		<label for="comparison-target">
			Target
		</label>
		<select id="comparison-target" name="{{strcat namePrefix 'comparisonTarget'}}">
			{{selectOptions POWERSTUFF.NUMERIC_COMPARISON_TARGET localize=true selected=cond.comparisonTarget}}
		</select>
	</div>
	<div>
		<select id="comparator" name="{{strcat namePrefix 'comparator'}}">
			{{selectOptions POWERSTUFF.COMPARATORS localize=false selected=cond.comparator}}
		</select>
		<input class="short" type=number name="{{strcat namePrefix 'num'}}" value="{{cond.num}}">
	</div>

	{{#if (eq cond.comparisonTarget "social-link-level")}}
		<select name="{{strcat namePrefix 'socialLinkIdOrTarot'}}">
			{{selectOptions POWERSTUFF.SOCIAL_LINK_OR_TAROT localize=true selected=cond.socialLinkIdOrTarot}}
		</select>
	{{/if}}

	{{#if (eq cond.comparisonTarget "student-skill")}}
		<select name="{{strcat namePrefix 'studentSkill'}}">
			{{selectOptions POWERSTUFF.STUDENT_SKILLS localize=true selected=cond.studentSkill}}
		</select>

	{{/if}}


	{{/if}}


	{{#if (eq cond.type "boolean")}}

	{{#if (eqAny cond.boolComparisonTarget "target-owner-comparison")}}
	<div>
		<select name="{{strcat namePrefix 'conditionTarget2'}}">
			{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget2}}
		</select>
		<span>==</span>
		<select name="{{strcat namePrefix 'conditionTarget'}}">
			{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
		</select>
	</div>
	{{/if}}
	{{#if (eqAny cond.boolComparisonTarget "engaged" "engaged-with" "is-pc" "is-shadow" "is-dead" "is-same-arcana" "struck-weakness" "has-status" "flag-state" "is-resistant-to")}}
	<div>
		<select name="{{strcat namePrefix 'conditionTarget'}}">
			{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
		</select>
	</div>
	{{/if}}

	<div>
		<select id="comparison-target" name="{{strcat namePrefix 'boolComparisonTarget'}}">
			{{selectOptions POWERSTUFF.BOOLEAN_COMPARISON_TARGET localize=true selected=cond.boolComparisonTarget}}
		</select>
	</div>
	<div>
		<label>
			Is True</label>
		<input type="checkbox" id="flagState" name="{{strcat namePrefix 'booleanState'}}" {{checked cond.booleanState}}>
	</div>
	{{#if (strIncludes cond.boolComparisonTarget "status")}}
	<select name="{{strcat namePrefix 'status'}}">
		{{selectOptions POWERSTUFF.STATUSEFFECTS localize=true selected=cond.status}}
	</select>
	{{/if}}
	{{#if (strIncludes cond.boolComparisonTarget "damage")}}
	<select name="{{strcat namePrefix 'powerDamageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=cond.powerDamageType}}
	</select>
	{{/if}}
	{{#if (strIncludes cond.boolComparisonTarget "resistant")}}
	<select name="{{strcat namePrefix 'powerDamageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=cond.powerDamageType}}
	</select>
	{{/if}}
	{{#if (strIncludes cond.boolComparisonTarget "tag")}}
	<select name="{{strcat namePrefix 'powerTag'}}">
		{{selectOptions POWERSTUFF.TAGS localize=true selected=cond.powerTag}}
	</select>
	{{/if}}
	{{#if (eq cond.boolComparisonTarget	"power-type-is")}}
	<select name="{{strcat namePrefix 'powerType'}}">
		{{selectOptions POWERSTUFF.POWERTYPES localize=true selected=cond.powerType}}
	</select>
	{{/if}}
	{{#if (eq cond.boolComparisonTarget "flag-state")}}
	<label>Flag Id </label>
	<input class="flag-id" type="text" width=2 name="{{strcat namePrefix 'flagId'}}" value="{{cond.flagId}}">
	</input>
	{{/if}}
	{{#if (eq cond.boolComparisonTarget "weather-is")}}
	<label>Weather </label>
	<select name="{{strcat namePrefix 'weatherComparison'}}">
		{{selectOptions POWERSTUFF.WEATHER_TYPES localize=true selected=cond.weatherComparison}}
	</select>
	{{/if}}
	{{#if (eq cond.boolComparisonTarget  "power-target-type-is")}}
	<div>
		<select name="{{strcat namePrefix 'powerTargetType'}}">
			{{selectOptions POWERSTUFF.TARGETING localize=true selected=cond.powerTargetType}}
		</select>
	</div>
	{{/if}}

	{{/if}}

	{{#if (strIncludes cond.type "resistant")}}
	<select name="{{strcat namePrefix 'powerDamageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=cond.powerDamageType}}
	</select>
	{{/if}}
	{{#if (or (strIncludes cond.type "status") (eq cond.type "save-versus"))}}
	<select name="{{strcat namePrefix 'status'}}">
		{{selectOptions POWERSTUFF.STATUSEFFECTS localize=true selected=cond.status}}
	</select>
	{{/if}}
	{{#if (eq cond.type	"power-type-is")}}
	<select name="{{strcat namePrefix 'powerType'}}">
		{{selectOptions POWERSTUFF.POWERTYPES localize=true selected=cond.powerType}}
	</select>
	{{/if}}

	{{#if (eq cond.type	"on-trigger")}}
	<select name="{{strcat namePrefix 'trigger'}}">
		{{selectOptions POWERSTUFF.TRIGGERS localize=true selected=cond.trigger}}
	</select>
	{{#if (eq cond.trigger "on-attain-tarot-perk")}}
	<select name="{{strcat namePrefix 'tarot'}}">
		{{selectOptions POWERSTUFF.TAROT_DECK localize=true selected=cond.tarot}}
	</select>

	{{/if}}

	{{/if}}


	{{#if (eq cond.type	"flag-state")}}
	<select name="{{strcat namePrefix 'conditionTarget'}}">
		{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
	</select>
	<br>
	<label>Flag Id </label>
	<input class="flag-id" type="text" width=2 name="{{strcat namePrefix 'flagId'}}" value="{{cond.flagId}}">
	</input>
	<div>
		<label for="flagState">
			Flag Is Set
		</label>
		<input type="checkbox" id="flagState" name="{{strcat namePrefix 'booleanState'}}" {{checked cond.booleanState}}>
	</div>
	{{/if}}
	<a class="del-condition">
		<i class="fa-solid fa-trash-can"></i>
	</a>
</div>

