<div class="consequence-block" data-consequence-index="{{consequence_index}}">
	<div>
		<label>
			Apply to Self
		</label>
		<input type="checkbox" name="{{strcat namePrefix 'applyToSelf'}}" {{checked cons.applyToSelf}}>
	</div>
	<div class="type-select">
		<select name="{{strcat namePrefix 'type'}}">
			{{selectOptions POWERSTUFF.CONSTYPES localize=true selected=cons.type}}
		</select>
	</div>
	{{#if (or (eq cons.type "addStatus") (eq cons.type "removeStatus"))}}
	<select name="{{strcat namePrefix 'statusName' }}">
		{{selectOptions POWERSTUFF.STATUSEFFECTS localize=true selected=cons.statusName}}
	</select>
	{{/if}}
	{{#if (eq cons.type "addStatus")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	<select name="{{strcat namePrefix 'statusDuration'}}">
		{{selectOptions POWERSTUFF.STATUSDURATIONS localize=true selected=cons.statusDuration}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "dmg-mult" "revive" "escalationManipulation" "modifier" "recover-slot")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}
	{{#if (eq cons.type "extraAttack")}}
	<div>
		<label>
			Max Chain
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	</div>
	<div>
		<label>
			Iterative Penalty
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'iterativePenalty'}}" value="{{cons.iterativePenalty}}">
	</div>
	{{/if}}
	{{#if (eqAny cons.type "modifier" "add-escalation")}}
	<select name="{{strcat namePrefix 'modifiedField'}}">
		{{selectOptions POWERSTUFF.MODIFIER_TARGETS localize=true selected=cons.modifiedField}}
	</select>
	{{/if}}
	{{#if (eq cons.type "recover-slot")}}
	<label> Slot</label>
	<select name="{{strcat namePrefix 'slotType'}}">
		{{selectOptions POWERSTUFF.SLOT_TYPES_EXPANDED localize=true selected=cons.slotType}}
	</select>
	{{/if}}
	{{#if (eq cons.type	"add-power-to-list")}}
	<select name="{{strcat namePrefix 'id'}}">
		{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=false selected=cons.id}}
	</select>
	{{/if}}

	{{#if (eq cons.type	"other-effect")}}
	<select name="{{strcat namePrefix 'otherEffect'}}">
		{{selectOptions POWERSTUFF.OTHER_CONSEQUENCES localize=true selected=cons.otherEffect}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "raise-resistance" "lower-resistance")}}
	<div>
		<select name="{{strcat namePrefix 'resistType'}}">
			{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=cons.resistType}}
		</select>
		<select name="{{strcat namePrefix 'resistanceLevel'}}">
			{{selectOptions POWERSTUFF.RESIST_STRENGTHS localize=true selected=cons.resistanceLevel}}
		</select>
	</div>
	{{/if}}

	{{#if (eq cons.type	"set-flag")}}
	<div>
		<label for="flag-id"> Flag Id</label>
		<input class="flag-id" id="flag-id" type="text" name="{{strcat namePrefix 'flagId'}}" value="{{cons.flagId}}">
	</div>
	<div>
		<label for="flag-name"> Flag Name </label>
		<input class="flag-name" id="flag-name" type="text" name="{{strcat namePrefix 'flagName'}}" value="{{cons.flagName}}">
	</div>
	<div>
		<label> State</label>
		<input type="checkbox" name="{{strcat namePrefix 'flagState'}}" {{checked cons.flagState}}>
	</div>
	<select name="{{strcat namePrefix 'statusDuration'}}">
		{{selectOptions POWERSTUFF.STATUSDURATIONS localize=true selected=cons.statusDuration}}
	</select>

	{{/if}}

	{{#if (eq cons.type	"display-msg")}}
	<div>
		<label> Separate Msg </label>
		<input type="checkbox" name="{{strcat namePrefix 'newChatMsg'}}" {{checked cons.newChatMsg}}>
	</div>

	<div>
		<label for="text-msg"> Message </label>
		<textarea class="text-msg" id="text-msg" name="{{strcat namePrefix 'msg'}}">
			{{cons.msg}}
		</textarea>
	</div>
	{{/if}}

	{{#if (eq cons.type	"use-power")}}
	<select name="{{strcat namePrefix 'powerId'}}">
		{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=true selected=cons.powerId}}
	</select>
	<select name="{{strcat namePrefix 'target'}}">
		{{selectOptions POWERSTUFF.CONS_TARGETS localize=true selected=cons.target}}
	</select>

	{{/if}}

	{{#if (eq cons.type	"expend-item")}}
	<select name="{{strcat namePrefix 'itemId'}}">
		{{selectOptions POWERSTUFF.ITEMS_PLUS_NULL localize=false selected=cons.itemId}}
	</select>
	{{/if}}

	{{#if (eq cons.type "scan")}}
	<div>
		<label> Scan Level</label>
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	</div>
	{{/if}}

	{{#if (eq cons.type "social-card-action")}}
	<select name="{{strcat namePrefix 'cardAction'}}">
		{{selectOptions POWERSTUFF.SOCIAL_CARD_ACTIONS localize=true selected=cons.cardAction}}
	</select>

	{{#if (eq cons.cardAction "exec-event")}}
	<div>
		<label for="event-label"> Event Label </label>
		<input class="flag-name" id="event-label" type="text" name="{{strcat namePrefix 'eventLabel'}}" value="{{cons.eventLabel}}">
	</div>
	{{/if}}

	{{#if (eqAny cons.cardAction "alter-student-skill")}}
	<select name="{{strcat namePrefix 'studentSkill'}}">
		{{selectOptions POWERSTUFF.STUDENT_SKILLS localize=true selected=cons.studentSkill}}
	</select>
	{{/if}}

	{{#if (eqAny cons.cardAction "gain-money" "modify-progress-tokens" "alter-student-skill" "inc-events")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{/if}}

	{{#if (eq cons.type "dungeon-action")}}
	<select name="{{strcat namePrefix 'dungeonAction'}}">
		{{selectOptions POWERSTUFF.DUNGEON_ACTIONS localize=true selected=cons.dungeonAction}}
	</select>

	{{#if (eqAny cons.dungeonAction "modify-clock")}}
	<select name="{{strcat namePrefix 'clockId'}}">
		{{selectOptions POWERSTUFF.CLOCKS localize=true selected=cons.clockId}}
	</select>
	{{/if}}

	{{#if (eqAny cons.dungeonAction "modify-tension-pool" "modify-clock")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{/if}}


	{{#if (eq cons.type "modifier-new")}}

	<div>
		{{multicheck (strcat namePrefix 'modifiedFields') POWERSTUFF.MODIFIER_TARGETS checked=cons.modifiedFields localize=true}}
	</div>

	<div>
		<select name="{{strcat namePrefix 'modifierType'}}">
			{{selectOptions POWERSTUFF.MODIFIER_CONS_TYPES localize=true selected=cons.modifierType}}
		</select>
		{{#if (eq cons.modifierType "constant")}}
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
		{{/if}}

		{{#if (eq cons.modifierType "system-variable")}}
		<span>
			<select name="{{strcat namePrefix 'varName'}}">
				{{selectOptions POWERSTUFF.MODIFIER_VARIABLES localize=true selected=cons.varName}}
			</select>
		</span>

		<span>
			<label> Negative</label>
			<input type="checkbox" name="{{strcat namePrefix 'makeNegative'}}" {{checked cons.makeNegative}}>
		</span>
		{{/if}}
	</div>

	{{/if}}

	{{#if (eq cons.type "damage-new")}}
	<select name="{{strcat namePrefix 'damageSubtype'}}">
		{{selectOptions POWERSTUFF.DAMAGE_SUBTYPES localize=true selected=cons.damageSubtype}}
	</select>
	{{#if (ne cons.damageSubtype "multiplier")}}
	<select name="{{strcat namePrefix 'damageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPESPLUS localize=true selected=cons.damageType}}
	</select>
	{{/if}}

	{{#if (eqAny cons.damageSubtype "constant" "multiplier")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{/if}}
	<a class="del-consequence">
		<i class="fa-solid fa-trash-can"></i>
	</a>
</div>

