<div class="choice" data-choice-index="{{choiceIndex}}">
	<h5>
		Choice: <input type=string name='{{strcat namePrefix "name"}}' value="{{choice.name}}">
		<a class="del-choice">
			<i class="fa-solid fa-trash-can"></i>
		</a>

	</h5>

	<h5> Conditions
		<a class="add-condition">
			<i class="fa-solid fa-plus"> </i>
		</a>
	</h5>
	{{#each choice.conditions as |cond i|}}

	{{> "systems/persona/parts/input-condition.hbs" namePrefix=(strcat ../namePrefix "conditions." i ".")  cond=cond POWERSTUFF=../POWERSTUFF condition_index=i}}

	{{/each}}


	{{> "systems/persona/parts/card-roll-section.hbs" CONST=CONST namePrefix=(strcat namePrefix "roll.") roll=choice.roll item=item}}

	<textarea name="{{strcat namePrefix "text"}}">
		{{trim choice.text}}
	</textarea>
</div>

