<div class="consequence-block" data-consequence-index="{{consequence_index}}" data-path="{{namePrefix}}">
	{{#if (neAll cons.type "alter-variable" "modifier" "modifier-new")}}
	{{#if (ne cons.applyToSelf undefined)}}
	<div>
		<label>
			Apply to Self
		</label>
		<input type="checkbox" name="{{strcat namePrefix 'applyToSelf'}}" {{checked cons.applyToSelf}}>
	</div>
	{{else}}
	<div>
		<label>
			Apply To
		</label>
		<select name="{{strcat namePrefix 'applyTo'}}">
			{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cons.applyTo}}
		</select>
	</div>
	{{/if}}
	{{/if}}
	<div class="type-select">
		<select name="{{strcat namePrefix 'type'}}">
			{{selectOptions (deprecationList cons.type POWERSTUFF.NONDEP_CONSTYPES POWERSTUFF.CONSTYPES) localize=true selected=cons.type}}
		</select>
	</div>
	{{#if (or (eq cons.type "addStatus") (eq cons.type "removeStatus"))}}
	<select name="{{strcat namePrefix 'statusName' }}">
		{{selectOptions POWERSTUFF.STATUSEFFECTS localize=true selected=cons.statusName}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "addStatus" "set-flag")}}
	<span>
		<select name="{{strcat namePrefix 'statusDuration'}}">
			{{selectOptions POWERSTUFF.STATUSDURATIONS localize=true selected=cons.statusDuration}}
		</select>
		{{#if (eqAny cons.statusDuration "save") }}
		<select name="{{strcat namePrefix 'saveType'}}">
			{{selectOptions POWERSTUFF.SAVE_DIFFICULTY localize=true selected=cons.saveType}}
		</select>
		{{/if}}
		{{#if (eqAny cons.statusDuration "X-days" "X-rounds" "X-exploration-turns") }}
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
		{{/if}}
		{{#if (eqAny cons.statusDuration "UEoNT" "USoNT" "UEoT") }}
		<div>
			<label>
				Status Anchored to
			</label>
			<select name="{{strcat namePrefix 'durationApplyTo'}}">
				{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cons.durationApplyTo}}
			</select>
		</div>
		{{/if}}
	</span>
	{{/if}}

	{{#if (eqAny cons.type "set-flag")}}
	<div>
		<label>
			Attach Embedded
		</label>
		<input type="checkbox" name="{{strcat namePrefix 'applyEmbedded'}}" {{checked cons.applyEmbedded}}>
	</div>
	{{/if}}

	{{#if (eqAny cons.type "dmg-mult" "revive" "escalationManipulation" "recover-slot" "alter-fatigue-lvl")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}
	{{#if (eq cons.type "extraAttack")}}
	<div>
		<label>
			Max Chain
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	</div>
	<div>
		<label>
			Iterative Penalty
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'iterativePenalty'}}" value="{{cons.iterativePenalty}}">
	</div>
	{{/if}}
	{{#if (eqAny cons.type "modifier" "add-escalation")}}
	<select name="{{strcat namePrefix 'modifiedField'}}">
		{{selectOptions POWERSTUFF.MODIFIER_TARGETS localize=true selected=cons.modifiedField}}
	</select>
	{{/if}}
	{{#if (eq cons.type "recover-slot")}}
	<label> Slot</label>
	<select name="{{strcat namePrefix 'slotType'}}">
		{{selectOptions POWERSTUFF.SLOT_TYPES_EXPANDED localize=true selected=cons.slotType}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type	"add-power-to-list" "teach-power")}}
	<select name="{{strcat namePrefix 'id'}}">
		{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=false selected=cons.id}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type	"add-talent-to-list")}}
	<select name="{{strcat namePrefix 'id'}}">
		{{selectOptions POWERSTUFF.COMPENDIUM_TALENTS localize=false selected=cons.id}}
	</select>

	{{/if}}

	{{#if (eq cons.type "add-creature-tag")}}
	<select name="{{strcat namePrefix 'creatureTag'}}">
		{{selectOptions POWERSTUFF.CREATURE_TAGS localize=true selected=cons.creatureTag}}
	</select>
	{{/if}}

	{{#if (eq cons.type	"other-effect")}}
	<select name="{{strcat namePrefix 'otherEffect'}}">
		{{selectOptions POWERSTUFF.OTHER_CONSEQUENCES localize=true selected=cons.otherEffect}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "raise-resistance" "lower-resistance")}}
	<div>
		{{multicheck (strcat namePrefix 'resistType') POWERSTUFF.DAMAGETYPES localize=true checked=cons.resistType}}
		<select name="{{strcat namePrefix 'resistanceLevel'}}">
			{{selectOptions POWERSTUFF.RESIST_STRENGTHS localize=true selected=cons.resistanceLevel}}
		</select>
	</div>
	{{/if}}

	{{#if (eqAny cons.type "raise-status-resistance")}}
		{{multicheck (strcat namePrefix 'statusName') POWERSTUFF.STATUSEFFECTS localize=true checked=cons.statusName}}
	<select name="{{strcat namePrefix 'resistanceLevel'}}">
		{{selectOptions POWERSTUFF.RESIST_STRENGTHS localize=true selected=cons.resistanceLevel}}
	</select>
	<div>
		<span>
			<label>Lower Resistance </label>
			<input type="checkbox" name="{{strcat namePrefix 'lowerResist'}}" {{checked cons.lowerResist}}>
		</span>
	</div>
	{{/if}}

	{{#if (eq cons.type "alter-variable") }}
	{{> "systems/persona/parts/variable-type-specifier.hbs" namePrefix=namePrefix cons=cons POWERSTUFF=POWERSTUFF owner=owner}}
	<div>
		<span>
			<select name="{{strcat namePrefix 'operator'}}">
				{{selectOptions POWERSTUFF.VARIABLE_ACTIONS localize=true selected=cons.operator}}
			</select>
		</span>
		{{#if (eqAny cons.operator "set" "add" "multiply")}}
		{{> "systems/persona/parts/advanced-numeric-value.hbs" namePrefix=(strcat namePrefix 'value.') cons=cons.value POWERSTUFF=POWERSTUFF owner=owner}}
		{{/if}}
		{{#if (eqAny cons.operator "set-range")}}
		<span>
			<input class="short" type=number name="{{strcat namePrefix 'min'}}" value="{{cons.min}}">
			-
			<input class="short" type=number name="{{strcat namePrefix 'max'}}" value="{{cons.max}}">
		</span>
		{{/if}}
	</div>
	{{/if}}

	{{#if (eq cons.type	"set-flag")}}
	<div>
		<label for="flag-id"> Flag Id</label>
		<input class="flag-id" id="flag-id" type="text" name="{{strcat namePrefix 'flagId'}}" value="{{cons.flagId}}">
	</div>
	<div>
		<label for="flag-name"> Flag Name </label>
		<input class="flag-name" id="flag-name" type="text" name="{{strcat namePrefix 'flagName'}}" value="{{cons.flagName}}">
	</div>
	<div>
		<label> State</label>
		<input type="checkbox" name="{{strcat namePrefix 'flagState'}}" {{checked cons.flagState}}>
	</div>

	{{/if}}

	{{#if (eq cons.type	"display-msg")}}
	<div>
		<label> Separate Msg </label>
		<input type="checkbox" name="{{strcat namePrefix 'newChatMsg'}}" {{checked cons.newChatMsg}}>
	</div>

	<div>
		<label for="text-msg"> Message </label>
		<textarea class="text-msg" id="text-msg" name="{{strcat namePrefix 'msg'}}">{{cons.msg}}</textarea>
	</div>
	{{/if}}

	{{#if (eq cons.type	"use-power")}}
	<select name="{{strcat namePrefix 'powerId'}}">
		{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=true selected=cons.powerId}}
	</select>
	<select name="{{strcat namePrefix 'target'}}">
		{{selectOptions POWERSTUFF.CONS_TARGETS localize=true selected=cons.target}}
	</select>

	{{/if}}

	{{#if (eq cons.type	"expend-item")}}
	<select name="{{strcat namePrefix 'itemId'}}">
		{{selectOptions POWERSTUFF.ITEMS_PLUS_NULL localize=false selected=cons.itemId}}
	</select>
	{{/if}}

	{{#if (eq cons.type "scan")}}
	<div>
		<label> Scan Level</label>
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	</div>
	<div>
		<label>Downgrade Scan Level</label>
		<input type="checkbox" name="{{strcat namePrefix 'downgrade'}}" {{checked cons.downgrade}}>
	</div>
	{{/if}}

	{{#if (eq cons.type "alter-energy")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}
	{{#if (eq cons.type "social-card-action")}}
	<select name="{{strcat namePrefix 'cardAction'}}">
		{{selectOptions POWERSTUFF.SOCIAL_CARD_ACTIONS localize=true selected=cons.cardAction}}
	</select>

	{{#if (eq cons.cardAction "exec-event")}}
	<div>
		<label for="event-label"> Event Label </label>
		<input class="flag-name" id="event-label" type="text" name="{{strcat namePrefix 'eventLabel'}}" value="{{cons.eventLabel}}">
	</div>
	{{/if}}

	{{#if (eqAny cons.cardAction "alter-student-skill")}}
	<select name="{{strcat namePrefix 'studentSkill'}}">
		{{selectOptions POWERSTUFF.STUDENT_SKILLS localize=true selected=cons.studentSkill}}
	</select>
	{{/if}}

	{{#if (eqAny cons.cardAction "gain-money" "modify-progress-tokens" "modify-progress-tokens-cameo" "alter-student-skill" "inc-events")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{#if (eqAny cons.cardAction "add-card-events-to-list"  "replace-card-events")}}
	<select name="{{strcat namePrefix 'cardId'}}">
		{{selectOptions POWERSTUFF.SOCIAL_CARDS localize=false selected=cons.cardId}}
	</select>
	{{/if}}

	{{#if (eqAny cons.cardAction "replace-card-events")}}
	<div>
		<label>Keep Event Chain</label>
		<input type="checkbox" name="{{strcat namePrefix 'keepEventChain'}}" {{checked cons.keepEventChain}}>
	</div>
	{{/if}}

	{{#if (eqAny cons.cardAction "set-temporary-variable")}}
	<select name="{{strcat namePrefix 'operator'}}">
		{{selectOptions POWERSTUFF.VARIABLE_ACTIONS localize=true selected=cons.operator}}
	</select>
	<input type=string name="{{strcat namePrefix 'variableId'}}" value="{{cons.variableId}}">
	<input class="short" type=number name="{{strcat namePrefix 'value'}}" value="{{cons.value}}">
	{{/if}}

	{{#if (eq cons.cardAction "append-card-tag")}}
	<div>
		<select name="{{strcat namePrefix 'cardTag'}}">
			{{selectOptions POWERSTUFF.CARD_TAGS localize=true selected=cons.cardTag}}
		</select>
	</div>
	{{/if}}

	{{#if (eq cons.cardAction "card-response")}}
		<textarea class="text-msg" id="text-msg" name="{{strcat namePrefix 'text'}}">{{cons.text}}</textarea>
	{{/if}}

	{{#if (eq cons.cardAction "set-social-card-item")}}
	<div>
		<select name="{{strcat namePrefix 'item.selectType'}}">
			{{selectOptions POWERSTUFF.ITEM_SELECTOR_TYPE localize=true selected=cons.item.selectType}}
		</select>
	{{#if (eq (defVal cons.item.selectType "specific") "specific")}}
		<select name="{{strcat namePrefix 'item.itemId'}}">
			{{selectOptions POWERSTUFF.ITEMS localize=true selected=cons.item.itemId}}
		</select>
	{{/if}}
	{{#if (eq cons.item.selectType "randomTreasure")}}
	<label>Treasure Level</label>
	<input class="short" type=number name="{{strcat namePrefix 'item.treasureLevel'}}" value="{{cons.item.treasureLevel}}">
	<label>Modifier</label>
	<input class="short" type=number name="{{strcat namePrefix 'item.rollModifier'}}" value="{{cons.item.rollModifier}}">
	{{/if}}
	</div>
	{{/if}}

	{{/if}}

	{{#if (eq cons.type "inspiration-cost")}}
	<select name="{{strcat namePrefix 'socialLinkIdOrTarot'}}">
		{{selectOptions POWERSTUFF.SOCIAL_LINK_OR_TAROT localize=true selected=cons.socialLinkIdOrTarot}}
	</select>
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{#if (eq cons.type "dungeon-action")}}
	<select name="{{strcat namePrefix 'dungeonAction'}}">
		{{selectOptions POWERSTUFF.DUNGEON_ACTIONS localize=true selected=cons.dungeonAction}}
	</select>

	{{#if (eqAny cons.dungeonAction "modify-clock" "set-clock")}}
	<select name="{{strcat namePrefix 'clockId'}}">
		{{selectOptions POWERSTUFF.CLOCKS localize=true selected=cons.clockId}}
	</select>
	{{/if}}

	{{#if (eqAny cons.dungeonAction "change-scene-weather")}}
	<select name="{{strcat namePrefix 'sceneWeatherType'}}">
		{{selectOptions POWERSTUFF.SCENE_WEATHER_TYPES localize=false selected=cons.sceneWeatherType}}
	</select>
	{{/if}}

	{{#if (eqAny cons.dungeonAction "rename-scene-clock")}}
	<div>
		<input class="new-name" id="new-name" type="text" name="{{strcat namePrefix 'clockNewName'}}" value="{{cons.clockNewName}}">
	</div>
	<div>
		<label>
			Cyclical
		</label>
		<input type="checkbox" name="{{strcat namePrefix 'cyclicClock'}}" {{checked cons.cyclicClock}}>
	</div>
	<div>
		<label>
			Hide on zero
		</label>
		<input type="checkbox" name="{{strcat namePrefix 'hideOnZero'}}" {{checked cons.hideOnZero}}>
	</div>
	<div>
		<label>
			Clock Max
		</label>
	<input class="short" type=number name="{{strcat namePrefix 'clockMax'}}" value="{{cons.clockMax}}">
</div>
	{{/if}}

	{{#if (eqAny cons.dungeonAction "modify-tension-pool" "modify-clock" "set-clock")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{/if}}

	{{#if (eq cons.type "modifier")}}
	{{> "systems/persona/parts/advanced-numeric-value.hbs" namePrefix=(strcat namePrefix 'amount.') cons=cons.amount POWERSTUFF=POWERSTUFF owner=owner}}
	{{/if}}

	{{#if (eq cons.type "modifier-new")}}
		{{> "systems/persona/parts/input-modifier-new.hbs" namePrefix=(strcat namePrefix '') cons=cons POWERSTUFF=POWERSTUFF owner=owner}}
	{{/if}}

	{{#if (eq cons.type "alter-mp")}}
	<select name="{{strcat namePrefix 'subtype'}}">
		{{selectOptions POWERSTUFF.ALTER_MP_SUBTYPES localize=true selected=cons.subtype}}
	</select>
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">

	{{/if}}

	{{#if (eq cons.type "damage-new")}}
	<select name="{{strcat namePrefix 'damageSubtype'}}">
		{{selectOptions POWERSTUFF.DAMAGE_SUBTYPES localize=true selected=cons.damageSubtype}}
	</select>

	{{#if (neq-m cons.damageSubtype "set-to-const" "set-to-percent")}}
	<select name="{{strcat namePrefix 'damageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPESPLUS localize=true selected=cons.damageType}}
	</select>
	{{/if}}

	{{#if (eqAny cons.damageSubtype "constant" "multiplier" "percentage" "mult-stack" "percentage-current" "set-to-const" "set-to-percent")}}
	{{> "systems/persona/parts/advanced-numeric-value.hbs" namePrefix=(strcat namePrefix 'amount.') cons=cons.amount POWERSTUFF=POWERSTUFF owner=owner}}
	{{#if false}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}
	{{/if}}

	{{/if}}
	{{#if (eq cons.type "combat-effect")}}
		{{> "systems/persona/parts/input-consequence-combat-effect.hbs" namePrefix=(strcat namePrefix '') cons=cons POWERSTUFF=POWERSTUFF owner=owner}}
	{{/if}}

	{{#if (eq cons.type "perma-buff")}}
	<span>
		<input class="short" type=number name="{{strcat namePrefix 'value'}}" value="{{cons.value}}">
	</span>
	<select name="{{strcat namePrefix 'buffType'}}">
		{{selectOptions POWERSTUFF.PERMA_BUFFS localize=true selected=cons.buffType}}
	</select>
	{{/if}}

	{{#if (eq cons.type "play-sound")}}
	<div>
		<span>
			Volume
		</span>
		<span>
			<input class="short" type=number name="{{strcat namePrefix 'volume'}}" value="{{cons.volume}}">
		</span>
	</div>
	<div class="flexrow">
		{{filePicker type="audio" target=(strcat namePrefix 'soundSrc')}}
		<input class="img" type="hidden" name="{{strcat namePrefix 'soundSrc'}}" value="{{cons.soundSrc}}">
		{{#if cons.soundSrc}}
		<div>{{cons.soundSrc}}</div>
		{{/if}}
	</div>
	<div>
		<label> Wait Until Finished </label>
		<input type="checkbox" name="{{strcat namePrefix 'waitUntilFinished'}}" {{checked cons.waitUntilFinished}}>
	</div>
	{{/if}}

	{{#if (eq cons.type "gain-levels") }}
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	<select name="{{strcat namePrefix 'gainTarget'}}">
		{{selectOptions POWERSTUFF.LEVEL_GAIN_TARGETS localize=true selected=cons.gainTarget}}
	</select>
	{{/if}}
	{{#if (eq cons.type "inventory-action")}}
	<select name="{{strcat namePrefix 'invAction'}}">
		{{selectOptions POWERSTUFF.INVENTORY_ACTION localize=true selected=cons.invAction}}
	</select>

	{{#if (eqAny cons.invAction "add-item" "remove-item")}}
	<div>
		<select name="{{strcat namePrefix 'itemId'}}">
			{{selectOptions POWERSTUFF.ITEMS localize=true selected=cons.itemId}}
		</select>
	</div>
	{{/if}}
	<label> Amount </label>
	{{> "systems/persona/parts/advanced-numeric-value.hbs" namePrefix=(strcat namePrefix 'amount.') cons=cons.amount POWERSTUFF=POWERSTUFF owner=owner}}

	{{#if (eqAny cons.invAction "add-treasure")}}
	<div>
		<label> Treasure Level</label>
		{{> "systems/persona/parts/advanced-numeric-value.hbs" namePrefix=(strcat namePrefix 'treasureLevel.') cons=cons.treasureLevel POWERSTUFF=POWERSTUFF owner=owner}}
		<label>treasure Modifier</label>
		<input class="short" type=number name="{{strcat namePrefix 'treasureModifier'}}" value="{{cons.treasureModifier}}">
		<label>Min Level</label>
		<input class="short" type=number name="{{strcat namePrefix 'minLevel'}}" value="{{cons.minLevel}}">
	</div>
	{{/if}}

	{{/if}}

	<div>
		<a class="copy-consequence">
			<i class="fa-solid fa-copy"></i>
		</a>
		<a class="del-consequence">
			<i class="fa-solid fa-trash-can"></i>
		</a>
	</div>
</div>

