<div class="input-condition-body">
	<div class="type-selector">
		<label>
			type:
		</label>
		<select name="{{strcat namePrefix 'type'}}">
			{{selectOptions POWERSTUFF.PRECONDITIONTYPES localize=true selected=cond.type}}
		</select>
	</div>

	{{#if (eq cond.type	"damage-type-is")}}
	{{multicheck (strcat namePrefix 'powerDamageType') POWERSTUFF.DAMAGETYPES checked=cond.powerDamageType localize=true}}
	{{/if}}

	{{#if (strIncludes cond.type "numeric-v2")}}
		{{> "systems/persona/parts/input-numeric-v2.hbs" namePrefix=namePrefix  cond=cond POWERSTUFF=POWERSTUFF owner=owner}}
	{{/if}}

	{{#if (eq cond.type "numeric")}}
		{{> "systems/persona/parts/input-conditional-numeric.hbs" namePrefix=namePrefix  cond=cond POWERSTUFF=POWERSTUFF owner=owner}}
	{{/if}}

	{{#if (eq cond.type "boolean")}}
		{{> "systems/persona/parts/input-conditional-boolean.hbs" namePrefix=namePrefix  cond=cond POWERSTUFF=POWERSTUFF owner=owner}}
	{{/if}}

	{{#if (strIncludes cond.type "resistant")}}
	<select name="{{strcat namePrefix 'powerDamageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=cond.powerDamageType}}
	</select>
	{{/if}}
	{{#if (or (strIncludes cond.type "status") (eq cond.type "save-versus"))}}
	<select name="{{strcat namePrefix 'status'}}">
		{{selectOptions POWERSTUFF.STATUSEFFECTS localize=true selected=cond.status}}
	</select>
	{{/if}}
	{{#if (eq cond.type	"power-type-is")}}
	<select name="{{strcat namePrefix 'powerType'}}">
		{{selectOptions POWERSTUFF.POWERTYPES localize=true selected=cond.powerType}}
	</select>
	{{/if}}

	{{#if (eq cond.type	"on-trigger")}}
	<select name="{{strcat namePrefix 'trigger'}}">
		{{selectOptions POWERSTUFF.TRIGGERS localize=true selected=cond.trigger}}
	</select>

	{{#if (eq cond.trigger "on-attain-tarot-perk")}}
	<select name="{{strcat namePrefix 'tarot'}}">
		{{selectOptions POWERSTUFF.TAROT_DECK localize=true selected=cond.tarot}}
	</select>
	{{/if}}

	{{#if (eqAny cond.trigger "on-clock-tick" "on-clock-change")}}
	<select name="{{strcat namePrefix 'triggeringClockId'}}">
		{{selectOptions POWERSTUFF.CLOCKS localize=true selected=cond.triggeringClockId}}
	</select>
	{{/if}}

	{{#if (eqAny cond.trigger "on-inflict-status" "pre-inflict-status")}}
	{{multicheck (strcat namePrefix 'status') POWERSTUFF.STATUSEFFECTS checked=cond.status localize=true}}
	{{/if}}

	{{/if}}

	{{#if (eq cond.type	"flag-state")}}
	<select name="{{strcat namePrefix 'conditionTarget'}}">
		{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cond.conditionTarget}}
	</select>
	<br>
	<label>Flag Id </label>
	<input class="flag-id" type="text" width=2 name="{{strcat namePrefix 'flagId'}}" value="{{cond.flagId}}">
	</input>
	<div>
		<label for="flagState">
			Flag Is Set
		</label>
		<input type="checkbox" id="flagState" name="{{strcat namePrefix 'booleanState'}}" {{checked cond.booleanState}}>
	</div>
	{{/if}}

</div>
