<div class="consequence-block" data-consequence-index="{{consequence_index}}" data-path="{{namePrefix}}">
	{{#if (ne cons.applyToSelf undefined)}}
	<div>
		<label>
			Apply to Self
		</label>
		<input type="checkbox" name="{{strcat namePrefix 'applyToSelf'}}" {{checked cons.applyToSelf}}>
	</div>
	{{else}}
	<div>
		<label>
			Apply To
		</label>
		<select name="{{strcat namePrefix 'applyTo'}}">
			{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cons.applyTo}}
		</select>
	</div>
	{{/if}}
	<div class="type-select">
		<select name="{{strcat namePrefix 'type'}}">
			{{selectOptions POWERSTUFF.CONSTYPES localize=true selected=cons.type}}
		</select>
	</div>
	{{#if (or (eq cons.type "addStatus") (eq cons.type "removeStatus"))}}
	<select name="{{strcat namePrefix 'statusName' }}">
		{{selectOptions POWERSTUFF.STATUSEFFECTS localize=true selected=cons.statusName}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "addStatus" "set-flag")}}
	<span>
		<select name="{{strcat namePrefix 'statusDuration'}}">
			{{selectOptions POWERSTUFF.STATUSDURATIONS localize=true selected=cons.statusDuration}}
		</select>
		{{#if (eqAny cons.statusDuration "save") }}
		<select name="{{strcat namePrefix 'saveType'}}">
			{{selectOptions POWERSTUFF.SAVE_DIFFICULTY localize=true selected=cons.saveType}}
		</select>
		{{/if}}
		{{#if (eqAny cons.statusDuration "X-days" "X-rounds" "X-exploration-turns") }}
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
		{{/if}}
		{{#if (eqAny cons.statusDuration "UEoNT" "USoNT" "UEoT") }}
		<div>
			<label>
				Status Anchored to
			</label>
			<select name="{{strcat namePrefix 'durationApplyTo'}}">
				{{selectOptions POWERSTUFF.CONDITION_TARGETS localize=true selected=cons.durationApplyTo}}
			</select>
		</div>
		{{/if}}
	</span>
	{{/if}}

	{{#if (eqAny cons.type "dmg-mult" "revive" "escalationManipulation" "modifier" "recover-slot" "alter-fatigue-lvl")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}
	{{#if (eq cons.type "extraAttack")}}
	<div>
		<label>
			Max Chain
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	</div>
	<div>
		<label>
			Iterative Penalty
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'iterativePenalty'}}" value="{{cons.iterativePenalty}}">
	</div>
	{{/if}}
	{{#if (eqAny cons.type "modifier" "add-escalation")}}
	<select name="{{strcat namePrefix 'modifiedField'}}">
		{{selectOptions POWERSTUFF.MODIFIER_TARGETS localize=true selected=cons.modifiedField}}
	</select>
	{{/if}}
	{{#if (eq cons.type "recover-slot")}}
	<label> Slot</label>
	<select name="{{strcat namePrefix 'slotType'}}">
		{{selectOptions POWERSTUFF.SLOT_TYPES_EXPANDED localize=true selected=cons.slotType}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type	"add-power-to-list" "teach-power")}}
	<select name="{{strcat namePrefix 'id'}}">
		{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=false selected=cons.id}}
	</select>
	{{/if}}

	{{#if (eq cons.type "add-creature-tag")}}
	<select name="{{strcat namePrefix 'creatureTag'}}">
		{{selectOptions POWERSTUFF.CREATURE_TAGS localize=true selected=cons.creatureTag}}
	</select>
	{{/if}}

	{{#if (eq cons.type	"other-effect")}}
	<select name="{{strcat namePrefix 'otherEffect'}}">
		{{selectOptions POWERSTUFF.OTHER_CONSEQUENCES localize=true selected=cons.otherEffect}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "raise-resistance" "lower-resistance")}}
	<div>
		<select name="{{strcat namePrefix 'resistType'}}">
			{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=cons.resistType}}
		</select>
		<select name="{{strcat namePrefix 'resistanceLevel'}}">
			{{selectOptions POWERSTUFF.RESIST_STRENGTHS localize=true selected=cons.resistanceLevel}}
		</select>
	</div>
	{{/if}}

	{{#if (eqAny cons.type "raise-status-resistance")}}
	<select name="{{strcat namePrefix 'statusName' }}">
		{{selectOptions POWERSTUFF.STATUSEFFECTS localize=true selected=cons.statusName}}
	</select>
	<select name="{{strcat namePrefix 'resistanceLevel'}}">
		{{selectOptions POWERSTUFF.RESIST_STRENGTHS localize=true selected=cons.resistanceLevel}}
	</select>
	<div>
		<span>
			<label>Lower Resistance </label>
			<input type="checkbox" name="{{strcat namePrefix 'lowerResist'}}" {{checked cons.lowerResist}}>
		</span>
	</div>
	{{/if}}

	{{#if (eq cons.type "alter-variable") }}
	<select name="{{strcat namePrefix 'varType'}}">
		{{selectOptions POWERSTUFF.VARIABLE_TYPE localize=true selected=cons.varType}}
	</select>
	<div>
		{{#if (eqAny cons.varType "scene")}}
		<select name="{{strcat namePrefix 'sceneId'}}">
			{{selectOptions POWERSTUFF.SCENES localize=true selected=cons.sceneId}}
		</select>
		{{/if}}
	</div>
	<input type=string name="{{strcat namePrefix 'variableId'}}" value="{{cons.variableId}}">
	<div>
		<span>
			<select name="{{strcat namePrefix 'operator'}}">
				{{selectOptions POWERSTUFF.VARIABLE_ACTIONS localize=true selected=cons.operator}}
			</select>
		</span>
		<span>
			<input class="short" type=number name="{{strcat namePrefix 'value'}}" value="{{cons.value}}">
		</span>
	</div>
	{{/if}}

	{{#if (eq cons.type	"set-flag")}}
	<div>
		<label for="flag-id"> Flag Id</label>
		<input class="flag-id" id="flag-id" type="text" name="{{strcat namePrefix 'flagId'}}" value="{{cons.flagId}}">
	</div>
	<div>
		<label for="flag-name"> Flag Name </label>
		<input class="flag-name" id="flag-name" type="text" name="{{strcat namePrefix 'flagName'}}" value="{{cons.flagName}}">
	</div>
	<div>
		<label> State</label>
		<input type="checkbox" name="{{strcat namePrefix 'flagState'}}" {{checked cons.flagState}}>
	</div>

	{{/if}}

	{{#if (eq cons.type	"display-msg")}}
	<div>
		<label> Separate Msg </label>
		<input type="checkbox" name="{{strcat namePrefix 'newChatMsg'}}" {{checked cons.newChatMsg}}>
	</div>

	<div>
		<label for="text-msg"> Message </label>
		<textarea class="text-msg" id="text-msg" name="{{strcat namePrefix 'msg'}}">{{cons.msg}}</textarea>
	</div>
	{{/if}}

	{{#if (eq cons.type	"use-power")}}
	<select name="{{strcat namePrefix 'powerId'}}">
		{{selectOptions POWERSTUFF.COMPENDIUM_POWERS localize=true selected=cons.powerId}}
	</select>
	<select name="{{strcat namePrefix 'target'}}">
		{{selectOptions POWERSTUFF.CONS_TARGETS localize=true selected=cons.target}}
	</select>

	{{/if}}

	{{#if (eq cons.type	"expend-item")}}
	<select name="{{strcat namePrefix 'itemId'}}">
		{{selectOptions POWERSTUFF.ITEMS_PLUS_NULL localize=false selected=cons.itemId}}
	</select>
	{{/if}}

	{{#if (eq cons.type "scan")}}
	<div>
		<label> Scan Level</label>
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	</div>
	{{/if}}

	{{#if (eq cons.type "alter-energy")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}
	{{#if (eq cons.type "social-card-action")}}
	<select name="{{strcat namePrefix 'cardAction'}}">
		{{selectOptions POWERSTUFF.SOCIAL_CARD_ACTIONS localize=true selected=cons.cardAction}}
	</select>

	{{#if (eq cons.cardAction "exec-event")}}
	<div>
		<label for="event-label"> Event Label </label>
		<input class="flag-name" id="event-label" type="text" name="{{strcat namePrefix 'eventLabel'}}" value="{{cons.eventLabel}}">
	</div>
	{{/if}}

	{{#if (eqAny cons.cardAction "alter-student-skill")}}
	<select name="{{strcat namePrefix 'studentSkill'}}">
		{{selectOptions POWERSTUFF.STUDENT_SKILLS localize=true selected=cons.studentSkill}}
	</select>
	{{/if}}

	{{#if (eqAny cons.cardAction "gain-money" "modify-progress-tokens" "modify-progress-tokens-cameo" "alter-student-skill" "inc-events")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{#if (eqAny cons.cardAction "add-card-events-to-list"  "replace-card-events")}}
	<select name="{{strcat namePrefix 'cardId'}}">
		{{selectOptions POWERSTUFF.SOCIAL_CARDS localize=false selected=cons.cardId}}
	</select>
	{{/if}}

	{{#if (eqAny cons.cardAction "replace-card-events")}}
	<div>
		<label>Keep Event Chain</label>
		<input type="checkbox" name="{{strcat namePrefix 'keepEventChain'}}" {{checked cons.keepEventChain}}>
	</div>
	{{/if}}

	{{#if (eqAny cons.cardAction "set-temporary-variable")}}
	<select name="{{strcat namePrefix 'operator'}}">
		{{selectOptions POWERSTUFF.VARIABLE_ACTIONS localize=true selected=cons.operator}}
	</select>
	<input type=string name="{{strcat namePrefix 'variableId'}}" value="{{cons.variableId}}">
	<input class="short" type=number name="{{strcat namePrefix 'value'}}" value="{{cons.value}}">
	{{/if}}

	{{#if (eq cons.cardAction "append-card-tag")}}
	<div>
		<select name="{{strcat namePrefix 'cardTag'}}">
			{{selectOptions POWERSTUFF.CARD_TAGS localize=true selected=cons.cardTaq}}
		</select>
	</div>
	{{/if}}

	{{#if (eq cons.cardAction "card-response")}}
		<textarea class="text-msg" id="text-msg" name="{{strcat namePrefix 'text'}}">{{cons.text}}</textarea>
	{{/if}}

	{{/if}}

	{{#if (eq cons.type "inspiration-cost")}}
	<select name="{{strcat namePrefix 'socialLinkIdOrTarot'}}">
		{{selectOptions POWERSTUFF.SOCIAL_LINK_OR_TAROT localize=true selected=cons.socialLinkIdOrTarot}}
	</select>
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{#if (eq cons.type "dungeon-action")}}
	<select name="{{strcat namePrefix 'dungeonAction'}}">
		{{selectOptions POWERSTUFF.DUNGEON_ACTIONS localize=true selected=cons.dungeonAction}}
	</select>

	{{#if (eqAny cons.dungeonAction "modify-clock" "set-clock")}}
	<select name="{{strcat namePrefix 'clockId'}}">
		{{selectOptions POWERSTUFF.CLOCKS localize=true selected=cons.clockId}}
	</select>
	{{/if}}

	{{#if (eqAny cons.dungeonAction "change-scene-weather")}}
	<select name="{{strcat namePrefix 'sceneWeatherType'}}">
		{{selectOptions POWERSTUFF.SCENE_WEATHER_TYPES localize=false selected=cons.sceneWeatherType}}
	</select>
	{{/if}}

	{{#if (eqAny cons.dungeonAction "modify-tension-pool" "modify-clock" "set-clock")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{/if}}


	{{#if (eq cons.type "modifier-new")}}

	<div>
		{{multicheck (strcat namePrefix 'modifiedFields') POWERSTUFF.MODIFIER_TARGETS checked=cons.modifiedFields localize=true}}
	</div>

	<div>
		<select name="{{strcat namePrefix 'modifierType'}}">
			{{selectOptions POWERSTUFF.MODIFIER_CONS_TYPES localize=true selected=cons.modifierType}}
		</select>
		{{#if (eq cons.modifierType "constant")}}
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
		{{/if}}

		{{#if (eq cons.modifierType "system-variable")}}
		<span>
			<select name="{{strcat namePrefix 'varName'}}">
				{{selectOptions POWERSTUFF.MODIFIER_VARIABLES localize=true selected=cons.varName}}
			</select>
		</span>

		<span>
			<label> Negative</label>
			<input type="checkbox" name="{{strcat namePrefix 'makeNegative'}}" {{checked cons.makeNegative}}>
		</span>
		{{/if}}
	</div>

	{{/if}}

	{{#if (eq cons.type "alter-mp")}}
	<select name="{{strcat namePrefix 'subtype'}}">
		{{selectOptions POWERSTUFF.ALTER_MP_SUBTYPES localize=true selected=cons.subtype}}
	</select>
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">

	{{/if}}


	{{#if (eq cons.type "damage-new")}}
	<select name="{{strcat namePrefix 'damageSubtype'}}">
		{{selectOptions POWERSTUFF.DAMAGE_SUBTYPES localize=true selected=cons.damageSubtype}}
	</select>
	{{#if (ne cons.damageSubtype "multiplier")}}
	<select name="{{strcat namePrefix 'damageType'}}">
		{{selectOptions POWERSTUFF.DAMAGETYPESPLUS localize=true selected=cons.damageType}}
	</select>
	{{/if}}

	{{#if (eqAny cons.damageSubtype "constant" "multiplier" "percentage")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}

	{{/if}}
	{{#if (eq cons.type "combat-effect")}}
	<select name="{{strcat namePrefix 'combatEffect'}}">
		{{selectOptions POWERSTUFF.COMBAT_EFFECTS localize=true selected=cons.combatEffect}}
	</select>

	{{/if}}
	<div>
		<a class="copy-consequence">
			<i class="fa-solid fa-copy"></i>
		</a>
		<a class="del-consequence">
			<i class="fa-solid fa-trash-can"></i>
		</a>
	</div>
</div>

