<select name="{{strcat namePrefix 'actionType'}}">
  {{selectOptions POWERSTUFF.ANIMATION_ACTION localize=true selected=cons.actionType}}
</select>

<div>
  <label>
    Priority
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'priority'}}" value="{{defVal cons.priority 0}}">
</div>

<div>
  <label>
    Delay
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'delay'}}" value="{{cons.delay}}">
</div>

<div>
  <label>
    Duration
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'duration'}}" value="{{cons.duration}}">
</div>

<select name="{{strcat namePrefix 'sfxType'}}">
  {{selectOptions POWERSTUFF.CREATURE_TAGS localize=true selected=cons.sfxType}}
</select>


{{#if (eqAny (defVal cons.sfxType "play-animation") "play-sound" "play-animation")}}

<div>
  <label>FilePath</label>
  <input class="file-name" type="text" name="{{strcat namePrefix 'fileName'}}" value="{{cons.fileName}}">
</div>

<div>
  <label>
    Fade In
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'fadeIn'}}" value="{{cons.fadeIn}}">
</div>

<div>
  <label>
    Fade Out
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'fadeOut'}}" value="{{cons.fadeOut}}">
</div>

{{/if}}


{{#if (eqAny (defVal cons.sfxType "play-animation") "play-sound")}}

<div>
  <label>
    Volume
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'volume'}}" value="{{cons.volume}}">
</div>

{{/if}}



{{#if (eqAny (defVal cons.sfxType "play-animation") "play-animation")}}

<div>
  <label>
    Playback Rate
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'playbackRate'}}" value="{{defVal cons.playbackRate 1}}">
</div>

<div>
  <label>
    Opacity
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'opacity'}}" value="{{defVal cons.opacity 1}}">
</div>

<div>
  <label>
    Scale
  </label>
  <input class="short" type=number name="{{strcat namePrefix 'scale'}}" value="{{defVal cons.scale 1}}">
</div>

<label>
  Offset
</label>
<select name="{{strcat namePrefix 'actionType'}}">
  {{selectOptions POWERSTUFF.ANIMATION_OFFSET localize=true selected=cons.offset}}
</select>

{{#if (eqAny cons.offset "random")}}
<input class="short" type=number name="{{strcat namePrefix 'offsetPercent'}}" value="{{defVal cons.offSetPercent 1}}">
{{/if}}

{{/if}}
