<div class="consequence-block" data-consequence-index="{{consequence_index}}">
	<div>
		<label>
			Apply to Self
		</label>
		<input type="checkbox" name="{{strcat namePrefix 'applyToSelf'}}" {{checked cons.applyToSelf}}>
	</div>
	<div class="type-select">
		<select name="{{strcat namePrefix 'type'}}">
			{{selectOptions ../POWERSTUFF.CONSTYPES localize=true selected=cons.type}}
		</select>
	</div>
	{{#if (or (eq cons.type "addStatus") (eq cons.type "removeStatus"))}}
	<select name="{{strcat namePrefix 'statusName' }}">
		{{selectOptions ../POWERSTUFF.STATUSEFFECTS localize=true selected=cons.statusName}}
	</select>
	{{/if}}
	{{#if (eq cons.type "addStatus")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	<select name="{{strcat namePrefix 'statusDuration'}}">
		{{selectOptions ../POWERSTUFF.STATUSDURATIONS localize=true selected=cons.statusDuration}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "dmg-mult" "revive" "escalationManipulation" "modifier" "recover-slot")}}
	<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	{{/if}}
	{{#if (eq cons.type "extraAttack")}}
	<div>
		<label>
			Max Chain
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'amount'}}" value="{{cons.amount}}">
	</div>
	<div>
		<label>
			Iterative Penalty
		</label>
		<input class="short" type=number name="{{strcat namePrefix 'iterativePenalty'}}" value="{{cons.iterativePenalty}}">
	</div>
	{{/if}}
	{{#if (eqAny cons.type "modifier" "add-escalation")}}
	<select name="{{strcat namePrefix 'modifiedField'}}">
		{{selectOptions ../POWERSTUFF.MODIFIER_TARGETS localize=true selected=cons.modifiedField}}
	</select>
	{{/if}}
	{{#if (eq cons.type "recover-slot")}}
	<label> Slot</label>
	<select name="{{strcat namePrefix 'slotType'}}">
		{{selectOptions ../POWERSTUFF.SLOT_TYPES_EXPANDED localize=true selected=cons.slotType}}
	</select>
	{{/if}}
	{{#if (eq cons.type	"add-power-to-list")}}
	<select name="{{strcat namePrefix 'id'}}">
		{{selectOptions ../POWERSTUFF.COMPENDIUM_POWERS localize=false selected=cons.id}}
	</select>
	{{/if}}

	{{#if (eq cons.type	"other-effect")}}
	<select name="{{strcat namePrefix 'otherEffect'}}">
		{{selectOptions ../POWERSTUFF.OTHER_CONSEQUENCES localize=true selected=cons.otherEffect}}
	</select>
	{{/if}}
	{{#if (eqAny cons.type "raise-resistance" "lower-resistance")}}
	<div>
		<select name="{{strcat namePrefix 'resistType'}}">
			{{selectOptions ../POWERSTUFF.DAMAGETYPES localize=true selected=cons.resistType}}
		</select>
		<select name="{{strcat namePrefix 'resistanceLevel'}}">
			{{selectOptions ../POWERSTUFF.RESIST_STRENGTHS localize=true selected=cons.resistanceLevel}}
		</select>
	</div>
	{{/if}}

	{{#if (eq cons.type	"set-flag")}}
	<div>
		<label for="flag-id"> Flag Id</label>
		<input class="flag-id" id="flag-id" type="text" name="{{strcat namePrefix 'flagId'}}" value="{{cons.flagId}}">
	</div>
	<div>
		<label for="flag-name"> Flag Name </label>
		<input class="flag-name" id="flag-name" type="text" name="{{strcat namePrefix 'flagName'}}" value="{{cons.flagName}}">
	</div>
	<div>
		<label> State</label>
		<input type="checkbox" name="{{strcat namePrefix 'flagState'}}" {{checked cons.flagState}}>
	</div>
	<select name="{{strcat namePrefix 'statusDuration'}}">
		{{selectOptions ../POWERSTUFF.STATUSDURATIONS localize=true selected=cons.statusDuration}}
	</select>

	{{/if}}
	{{#if (eq cons.type	"display-msg")}}
	<div>
		<label for="text-msg"> Message </label>
		<textarea class="text-msg" id="text-msg" name="{{strcat namePrefix 'msg'}}">
			{{cons.msg}}
		</textarea>
	</div>
	{{/if}}
	<a class="delConsequence">
		<i class="fa-solid fa-trash-can"></i>
	</a>
</div>

