<div class="equips">
	<div class="weapon">
		<label>
			Weapon
		</label>
		<select name="system.equipped.weapon">
			{{selectOptions equips.weapons localize=true selected=actor.system.equipped.weapon}}
		</select>
	</div>
	<div class="armor"> <label>
			Clothing
		</label>
		<select name="system.equipped.body">
			{{selectOptions equips.body localize=true selected=actor.system.equipped.body}}
		</select>
	</div>
	<div class="accessory"> <label>
			Accessory
		</label>
		<select name="system.equipped.accessory">
			{{selectOptions equips.accessory localize=true selected=actor.system.equipped.accessory}}
		</select>
	</div>

	<div class="weapon-crystal"> <label>
			Weapon Attachment
		</label>
		<select name="system.equipped.weapon_crystal">
			{{selectOptions equips.attachment localize=true selected=actor.system.equipped.weapon_crystal}}
		</select>
	</div>

</div>
<hr>
<section class="money">
	<h2>
		Money
	</h2>
	<div class="resource-points">
		<label>
			Resource Points (Money)
		</label>
		{{#if ( isGM )}}
		<input class="short" type="number" name="system.money" value="{{actor.system.money}}">
		{{else}}
		{{actor.system.money}}
		<a class="gain-money">
			<i class="fa-solid fa-square-plus"></i>
		</a>
		<a class="spend-money">
			<i class="fa-solid fa-square-minus"></i>
		</a>
		{{/if}}
	</div>

</section>
<hr>
<section class="items">
	<h2>Items
		{{#if (isGM)}}
		<a class="addItem">
			<i class="fa-solid fa-plus"> </i>
		</a>
		{{/if}}
	</h2>
	<div class="flexrow">
		<div class="item-list flexcol">
			{{#each actor.consumables as |item|}}
			<div class="{{#if (ne item.system.noTrade true)}} item item-entry {{/if}} inventory-item" data-item-id="{{item.id}}">
				{{#if (eq item.system.type "consumable")}}
				<a class="rollItem">
					<img src="icons/dice/d20black.svg">
				</a>
				{{/if}}
				<span class="itemName">
					{{item.name}}
					( {{item.amount}} )
					{{#if (eq item.system.type "consumable")}}
					{{/if}}
				</span>
				<a class="delItem">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
			{{/each}}
		</div>
		<div class="item-list flexcol">
			{{#each actor.nonUsableInventory as |item|}}
			<div class="{{#if (ne item.system.noTrade true)}} item item-entry {{/if}} inventory-item" data-item-id="{{item.id}}">
				{{#if (eq item.system.type "consumable")}}
				<a class="rollItem">
					<img src="icons/dice/d20black.svg">
				</a>
				{{/if}}
				<span class="itemName">
					{{item.name}}
					( {{item.amount}} )
					{{#if (eq item.system.type "consumable")}}
					{{/if}}
				</span>
				<a class="delItem">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
			{{/each}}
		</div>
	</div>
</section>

