<section class="item-modifiers">
	<div class="wpnAtk">
		<label>
			{{localize	"persona.modifier.wpnAtk"}}
		</label>
		{{numberInput item.system.modifiers.wpnAtk class="short" name="system.modifiers.wpnAtk" step=1 min=0 max=900}}
	</div>
	<div class="mag-atk">
		<label>
			{{localize	"persona.modifier.magAtk"}}
		</label>
		{{numberInput item.system.modifiers.magAtk class="short" name="system.modifiers.magAtk" step=1 min=0 max=900}}
	</div>

	<div class="wpn-dmg">
		<label>
			{{localize	"persona.modifier.wpnDmg"}}
		</label>
		{{numberInput item.system.modifiers.wpnDmg class="short" name="system.modifiers.wpnDmg" step=1 min=0 max=900}}
	</div>

	<div class="mag-dmg">
		<label>
			{{localize	"persona.modifier.magDmg"}}
		</label>
		{{numberInput item.system.modifiers.magDmg class="short" name="system.modifiers.magDmg" step=1 min=0 max=900}}
	</div>

	<div class="critical-boost">
		<label>
			{{localize	"persona.modifier.criticalBoost"}}
		</label>
		{{numberInput item.system.modifiers.criticalBoost class="short" name="system.modifiers.criticalBoost" step=1 min=0 max=900}}
	</div>

	<div class="ref">
		<label>
			{{localize	"persona.modifier.ref"}}
		</label>
		{{numberInput item.system.modifiers.ref class="short" name="system.modifiers.ref" step=1 min=0 max=900}}
	</div>

	<div class="fort">
		<label>
			{{localize	"persona.modifier.fort"}}
		</label>
		{{numberInput item.system.modifiers.fort class="short" name="system.modifiers.fort" step=1 min=0 max=900}}
	</div>

	<div class="will">
		<label>
			{{localize	"persona.modifier.will"}}
		</label>
		{{numberInput item.system.modifiers.will class="short" name="system.modifiers.will" step=1 min=0 max=900}}
	</div>
</section>


