<div class="opener-selector" title="{{opt.toolTip}}">
  {{#if opt.mandatory}}
  <b>(Mandatory)</b>
  {{/if}}
  {{#if (not opt.power.targets)}}
  <button class="auto-option">
    <span class="option-name">
      {{opt.optionName}}
    </span>
  </button>
  {{else}}
  <span class="option-name">
    {{opt.optionName}}
  </span>
  <div class="targeted-action" data-power-id="{{opt.power.powerId}}" title="{{opt.toolTip}}">
    <span class="option-targets">
      {{#each opt.power.targets as |targetId t|}}
        <button class="option-target" data-target-id="{{targetId}}" data-target-index="{{t}}">
          {{getCombatantTokenNameByCombatantId targetId}}
        </button>
      {{/each}}
    </span>
  </div>
  {{/if}}
</div>
