<section class="persona-stats" >
	<h2> Persona Stats 
		{{#if (gt persona.unspentStatPoints 5)}}
		<a class="add-five-to-all" title="+5 to all">+5</a>
		{{/if}}
		{{#if (isGM)}}
		<a class="reset-stats">
			<i class="fa-solid fa-arrows-rotate"></i>
		</a>
		{{/if}}
	</h2>
	{{#if persona.unspentStatPoints}}
	<div class="unspent">
		Unspent Points: {{persona.unspentStatPoints}}
	</div>
	{{/if}}
	{{#each CONST.PERSONA_STATS as |locStr stat|}}
	<div data-stat="{{stat}}" title="{{localize (strcat 'persona.statistic.stat.description.' stat)}}">
		<label>
			{{localize locStr}}
		</label>
		<span> {{statValue ../persona stat}} </span>
		{{#if (canRaiseStat ../persona stat)}}
		<span>
			<a class="add-stat-point"><i class="fa-solid fa-circle-plus"></i></a>
		</span>
		{{/if}}

	</div>
	{{/each}}

	{{#if (and (isGM) (isShadowOrNPCAlly actor))}}
	<div>
		<label>Favored Stat</label>
		<select name="system.combat.personaStats.preferred_stat">
			{{selectOptions CONST.PERSONA_STATS_PLUS_EMPTY  localize=true selected=actor.system.combat.personaStats.preferred_stat}}
		</select>
		<select name="system.combat.personaStats.preferred_stat2">
			{{selectOptions CONST.PERSONA_STATS_PLUS_EMPTY  localize=true selected=actor.system.combat.personaStats.preferred_stat2}}
		</select>
	</div>

	<div>
		<label>Disfavored Stat</label>
		<select name="system.combat.personaStats.disfavored_stat">
			{{selectOptions CONST.PERSONA_STATS_PLUS_EMPTY  localize=true selected=actor.system.combat.personaStats.disfavored_stat}}
		</select>
		<select name="system.combat.personaStats.disfavored_stat2">
			{{selectOptions CONST.PERSONA_STATS_PLUS_EMPTY  localize=true selected=actor.system.combat.personaStats.disfavored_stat2}}
		</select>
	</div>
	{{/if}}

</section>

