<section class="persona-list f-col">
	{{#if (not selectedPersona)}}
	<h2>Persona List</h2>
	<ul class="persona-list">
		{{#each actor.personaList as |persona i|}}

		<li class="f-row {{#if (isSwapSelected ../actor persona)}} swap-selected {{/if}}" data-persona-id="{{persona.source.id}}">
			<div class="persona-name {{#if (isActivePersona ../actor persona)}} active-persona {{else}} inactive-persona {{/if}}">
				<a>
					{{persona.name}} ({{persona.level}}, {{persona.tarot.displayedName}})
				</a>
			</div>
			<div>
				{{#if ../actor.sideboardPersonas}}
				<a class="swap-persona">
					<i class="fa-solid fa-retweet"></i>
				</a>
				{{/if}}
				<a class="delPersona">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
		</li>
		{{/each}}
	</ul>

	{{#if actor.sideboardPersonas}}
	<h2> Sideboard (max {{actor.maxPersonaSideboard}})</h2>
	<ul class="persona-list">
		{{#each actor.sideboardPersonas as |persona i|}}

		<li class="f-row {{#if (isSwapSelected ../actor persona)}} swap-selected {{/if}}" data-persona-id="{{persona.source.id}}">
			<div class="persona-name sideboard-persona">
				<a>
					{{persona.name}} ({{persona.level}}, {{persona.tarot.displayedName}})
				</a>
			</div>
			<div>
				<a class="swap-persona">
					<i class="fa-solid fa-retweet"></i>
				</a>
				<a class="delPersona">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
		</li>
		{{/each}}
	</ul>
	{{/if}}

	{{else}}


	{{> "systems/persona/parts/persona-viewer.hbs" actor=actor CONST=CONST persona=selectedPersona selectedPersona=selectedPersona}}
	{{/if}}
</section>
