<div class="powers-section">
	<h2>
		{{localize 	"persona.statistic.powers"}}
		{{#if (isShadow actor)}}
		<a class="addShadowPower">
			<i class="fa-solid fa-plus"> </i>
		</a>
		{{/if}}
	</h2>
	<div class="basic-powers">
		{{#each actor.basicPowers as |power|}}
		<div>
			<button class="rollPower basic-power {{#if (not (canUsePower ../actor power))}} faded {{/if}}" data-power-id="{{power.id}}">
				<img class="power-img" src="{{power.img}}" title='{{> "systems/persona/parts/power-tooltip.hbs" actor=../actor CONST=CONST power=power}}'>
			</button>
		</div>
		{{/each}}
	</div>

	<div class="main-powers">
		{{#each actor.mainPowers as |power i|}}
		<div class="main-power" data-power-id="{{power.id}}">
			<div class="power-name-block {{#if (lte ../actor.maxPowers i)}} over-max-power {{/if}} ">
				{{#if (canUsePower ../actor power)}}
				<a class="rollPower" >
					<img src="icons/dice/d20black.svg">
				</a>
				{{/if}}
				<a class="powerName" title='{{> "systems/persona/parts/power-tooltip.hbs" actor=../actor CONST=CONST power=power}}'>
					{{power.name}}
				</a>
			</div>
			<div class="power-operations">
				{{#if (eq ../actor.system.type "shadow")}}
				<a class="recost-power">
					<i class="fa-solid fa-circle-dot"></i>
				</a>
				{{/if}}
				<a class="delPower">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
		</div>
		{{/each}}
	</div>

	{{#if actor.bonusPowers}}
	Bonus Powers
	<table class="powers-table">
		<tr>
			<th>
			</th>
			<th>
				Name
			</th>
			<th>
				Tags
			</th>
			<th>
				Damage
			</th>
			<th>
				Cost
			</th>
		</tr>
		{{#each actor.bonusPowers as |power|}}
		<tr class="power-row {{#if (not (canUsePower ../actor power))}} faded {{/if}}" data-power-id="{{power.id}}">
			<td>
				{{#if (canUsePower ../actor power)}}
				<a class="rollPower">
					<img src="icons/dice/d20black.svg">
				</a>
				{{/if}}
			</td>
			<td>
				<a class="powerName">
					{{power.name}}
				</a>
			</td>
			<td>
				{{power.tags}}
			</td>
			<td>
				{{getDamage ../actor power}}
			</td>
			<td>
				{{power.costString}}
			</td>
		</tr>
		{{/each}}
	</table>
	{{/if}}
</div>

