<div class="powers-section">
	<h2>
		{{localize 	"persona.statistic.powers"}}
		{{#if (isShadow actor)}}
		<a class="addShadowPower">
			<i class="fa-solid fa-plus"> </i>
		</a>
		{{/if}}
	</h2>
	<table class="powers-table">
		<tr>
			<th>
			</th>
			<th>
				Name
			</th>
			<th>
				Tags
			</th>
			<th>
				Damage
			</th>
			<th>
				Cost
			</th>
			<th>
			</th>
		</tr>
		{{#each actor.powers as |power|}}
		<tr class="power-row {{#if (not (canUsePower ../actor power))}} faded {{/if}}" data-power-id="{{power.id}}">
			<td>
				{{#if (canUsePower ../actor power)}}
				<a class="rollPower">
					<img src="icons/dice/d20black.svg">
				</a>
				{{/if}}
			</td>
			<td>
				<a class="powerName">
					{{power.name}}
				</a>
			</td>
			<td>
				{{power.tags}}
			</td>
			<td>
				{{getDamage ../actor power}}
			</td>
			<td>
				{{power.costString}}
			</td>
			<td>
				{{#if (eq ../actor.system.type "shadow")}}
				<a class="recost-power">
					<i class="fa-solid fa-circle-dot"></i>
				</a>
				{{/if}}
				<a class="delPower">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</td>
		</tr>
		{{/each}}
	</table>
</div>

