<div class="powers-section">
	<h2>
		{{localize 	"persona.statistic.powers"}}
		{{#if showPowerTableButton}}
		<a class="showPowersTable">
			<i class="fa-solid fa-table-list"></i>
		</a>
		{{/if}}

		{{#if (isShadow actor)}}
		<a class="addShadowPower">
			<i class="fa-solid fa-plus"> </i>
		</a>
		{{/if}}
	</h2>
	<div class="basic-powers">
		{{#each actor.basicPowers as |power i|}}
		<div>
				<button class="rollPower basic-power {{#if (not (canUsePower ../persona power))}} faded {{/if}}" data-power-id="{{power.id}}">
					<img class="power-img" src="{{power.img}}" title='{{> "systems/persona/parts/power-tooltip-lite.hbs" actor=../actor CONST=CONST power=power}}' data-basic-power-index='{{i}}'>
				</button>
		</div>
		{{/each}}
	</div>

{{> "systems/persona/parts/main-powers-table.hbs" CONST=CONST persona=persona}}


{{#if actor.sideboardPowers}}
<h3> Sideboarded Powers (max {{actor.maxSideboardPowers}}) </h3>
<div class="power-sideboard">
	{{#each actor.sideboardPowers as |power i|}}
	<div class="sideboard-power" data-power-id="{{power.id}}">
		<div class="power-name-block {{#if (lte ../persona.maxSideboardPowers i)}} over-max-power {{/if}} {{#if (isPowerIllegal ../actor power)}} illegal-level {{/if}}">
			<a class="powerName" title='{{> "systems/persona/parts/power-tooltip-lite.hbs" actor=../actor CONST=../CONST power=power persona=../persona}}'>
				{{> "systems/persona/parts/pretty-power-name.hbs" CONST=../CONST power=power user=../actor}}
				<span class="cost-string">
					({{powerCostString power ../persona}})
				</span>
			</a>
		</div>
		<div class="power-operations">
			{{#if (eq ../actor.system.type "pc")}}
			<a class="move-to-main" title="Move to Main powers">
				<i class="fa-solid fa-truck-ramp-box"></i>
			</a>
			{{/if}}
			<a class="delPower" title="Delete Power">
				<i class="fa-solid fa-trash-can"></i>
			</a>
		</div>
	</div>
	{{/each}}
</div>
{{/if}}
{{#if showBonusPowers}}
{{> "systems/persona/parts/bonus-powers-table.hbs" CONST=CONST persona=persona actor=actor}}
{{/if}}

</div>

