<div>
	<table class="printable-power-table">
		<thead>
			<tr>
        {{#if targetPersona}}
        <th>Learn</th>
        {{/if}}
				<th> Name</th>
				<th> Level </th>
				<th> Rarity </th>
				<th>Targets</th>
				<th> Tags</th>
				<th> Cost</th>
        {{#if (isGM)}}
				<th>En</th>
        <th> Known By</th>
        {{/if}}
				<th> Damage </th>
				<th> Defense </th>
				<th> Kill</th>
				<th> Ailment</th>
			</tr>
		</thead>
		<tbody>
			{{#each powers as |power i|}}
			<tr data-power-id="{{power.id}}">
        {{#if ../targetPersona}}
        <td class="actions">
          {{#if ../swapPower}}
          <a class="swap-power" title="Swap {{../swapPower.name}} with this power">
            <i class="fa-solid fa-retweet"></i>
          </a>
        {{else}}
          <a class="learn-power" title="Add to {{../targetPersona.name}} Power List">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        {{/if}}
        </td>
        {{/if}}
        <td class="power-name">
          {{#if (isExotic power)}}
          *
          {{/if}}
          {{power.name}}
        </td>
        <td> {{power.slotLocalized}} </td>
        <td class="rarity"> {{localizeRarity power.system.rarity}} </td>
        <td class="targets"> {{powerTargetsAbbrev power}}</td>
        <td> {{getItemTagList power}} </td>
        <td> {{simplePowerCost power}} </td>
        {{#if (isGM)}}
        <td> {{baseShadowCostString power}} </td>
        <td> {{{personasThatKnow power}}} </td>
        {{/if}}
        {{#if (canUseShortFormPower power)}}
        <td class="description" colspan="4">
          {{power.description}}
        </td>
        {{else}}
        <td> {{localizeDamageLevel power}}</td>
        <td> {{localizeDefenseTarget power}}</td>
        <td> {{localizeKillLevel power}}</td>
        <td> {{localizeAilmentLevel power}}</td>
        {{/if}}
      </tr>
      {{#if (and (hasDescriptionText power) (not (canUseShortFormPower power)))}}
      <tr>
        <td class="description" colspan="9">
          {{power.description}}
        </td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
