<div>
	<table class="printable-power-table">
		<thead>
			<tr>
				<th> Name</th>
				<th> Slot </th>
				<th> Tags</th>
				<th> Cost</th>
				<th> Damage </th>
				<th> Kill</th>
				<th> Ailment</th>
			</tr>
		</thead>
		<tbody>
			{{#each powers as |power i|}}
			<tr>
				<td class="power-name">
					{{#if (isExotic power)}}
					*
					{{/if}}
					{{power.name}}
				</td>
				<td> {{power.slotLocalized}} </td>
				<td> {{getItemTagList power}} </td>
				{{#if (isPassiveOrDefensive power)}}
				<td class="description" colspan="4">
					{{power.description}}
				</td>
				{{else}}
				<td> {{simplePowerCost power}} </td>
				<td> {{localizeDamageLevel power}}</td>
				<td> {{localizeKillLevel power}}</td>
				<td> {{localizeAilmentLevel power}}</td>
				{{/if}}
			</tr>
			{{#if (and power.description (not (isPassiveOrDefensive power)))}}
			<tr>
				<td class="description" colspan="5">
					{{power.description}}
				</td>
			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>
</div>
