{{#if (not (canUsePower persona power))}}
<div class="can't use reason">
  {{cantUseReason persona power}}
</div>
{{/if}}
<div class="power-name">
  {{power.name}}
</div>
<div class="tags">
  Tags: {{getPowerTagsL persona.user power}}
</div>
{{#if (ne power.system.damageLevel "none")}}
<div class="targets">
  Targets: {{getPowerTargetsL power}}
</div>
<div class="damage-level">
  Damage Level: {{power.system.damageLevel}}
</div>
{{/if}}
<div class="description">
  {{power.descriptionHTML}}
</div>
<div class="costs">
  Cost: {{powerCostString power persona}}
</div>
