{{#if (not (canUsePower persona power))}}
<div>
  {{cantUseReason persona power}}
</div>
{{/if}}
<div>
  {{power.name}}
</div>
<div>
  Tags: {{getPowerTagsL persona.user power}}
</div>
{{#if (ne power.system.damageLevel "none")}}
<div>
  Targets: {{getPowerTargetsL power}}
</div>
<div>
  Damage Level: {{power.system.damageLevel}}
</div>
{{/if}}
<div>
  {{power.description}}
</div>
<div>
  Cost: {{powerCostString power persona}}
</div>

