{{#if roomModifiers}}
<h4> Room Modifers</h4>
<section class="room-modifiers">
  <div class="room-mods f-row">
    {{#each roomModifiers as |mod|}}
    <div class="mod" data-mod-id="{{mod.id}}">
      <span class="tooltip">
        {{#if mod.img}}
        <img class="mod-icon tooltip" src="{{mod.img}}">
        {{else}}
        <span class="mod-name"> {{mod.displayedName}}</span>
        {{/if}}
        <div class="tooltiptext">
          <h4>
            {{mod.displayedName}}
          {{#if mod.isSceneModifier}}
          (Scene Mod)
          {{/if}}
          {{#if mod.isRoomModifier}}
          (Room Mod)
          {{/if}}
          </h4>
          {{mod.descriptionHTML}}
        </div>
      </span>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
