<section class="scan-header flexrow">
	<div class="img-column">
		<image src="{{persona.user.img}}"></image>
		{{#if (showPersonaImage persona)}}
		<image src="{{persona.img}}"></image>
		{{/if}}
	</div>
	<div class="scan-stats-column">
		<div>
			Scan Level: {{persona.scanLevel}}
		</div>
		<div>
			<label> Identifier: </label> {{persona.user.prototypeToken.name}}
		</div>
		{{#if (and (ne persona.user.prototypeToken.name persona.user.name) (scanLevelgte persona 1))}}
		<div>
			<label> Actual Name: </label> {{persona.user.displayedName}}
		</div>
		{{#if (scanLevelgte persona 1)}}
		{{#if (ne persona.source persona.user)}}
		<div>
			<label>Active Persona: </label>
			{{persona.displayedName}}
		</div>
		{{/if}}
		{{/if}}
		{{/if}}
		<br>
		<div>
			<label>Arcana </label>
			<span> {{persona.user.tarot.name}} </span>
		</div>
		{{#if (scanLevelgte persona 1)}}
		{{#if persona.source.roleString.length}}
		<div>
			<label>Role</label>
			<span>{{persona.source.roleString}} </span>
		</div>
		{{/if}}
		{{/if}}

		{{#if (scanLevelgte persona 1)}}
		{{> "systems/persona/parts/vitals-section.hbs" CONST=CONST persona=persona}}
		{{> "systems/persona/parts/creatureTags.hbs" actor=persona.user POWERSTUFF=POWERSTUFF allowEdit=false}}
		{{/if}}
	</div>
</section>


