<section class="simple-roll">
	<h2>
		{{roll.name}}
	</h2>
	<div class="roll-body tooltip">
			<span>{{die.number}}d{{die.faces}} </span>
			<i class="fa-solid fa-arrow-right"></i>
			<span class="die-total">
				{{die.total}}
			</span>
		</div>
		{{/each}}
		<div class="mods-section tooltiptext">
			{{#each roll.printableMods as |mod|}}
			<div class="mod-item">
				<span class="mod-name">
					{{mod.name}}
				</span>
				<span class="mod-amt">
					{{mod.modifier}}
				</span>
			</div>
			{{/each}}
		</div>
		<div class="final-total">
			Total:
			{{roll.total}}
		</div>
	</div>
</section>

