<section class="simple-roll">
	<h2>
		{{{roll.name}}}
		{{#if roll.DC}}
		<span class="dc-string">
			vs DC {{roll.DC}}
		</span>
		{{/if}}
	</h2>
	<div class="roll-body tooltip">
		{{#each roll.dice as |die|}}
		<div class="dice">
			<span>{{die.number}}d{{die.faces}} </span>
			<i class="fa-solid fa-arrow-right"></i>
			<span class="die-total">
				{{die.total}}
			</span>
		</div>
		{{/each}}
		<div class="mods-section tooltiptext {{#if roll.gmRoll}} gm-only {{/if}}">
			{{#each roll.printableMods as |mod|}}
			<div class="mod-item">
				<span class="mod-name">
					{{mod.name}}
				</span>
				<span class="mod-amt">
					{{mod.modifier}}
				</span>
			</div>
			{{/each}}
		</div>
		<div class="final-total">
			Total:
			{{roll.total}}
		</div>
		{{#if showSuccess}}
		<div class="result">
			{{#if roll.critical}}
			CRITICAL
			{{else}}
			{{#if roll.success}}
			SUCCESS
			{{else}}
			FAIL
			{{/if}}
			{{/if}}

		</div>
		{{/if}}
	</div>
</section>

