<div class="social-card-roll" data-roll-type="{{roll.type}}">
	{{#if (ne roll.type "none")}}
	{{#if (eqAny roll.type "studentSkillCheck" "save")}}
	<button class="make-roll">
		{{#if (eq roll.type "save")}}
		Roll {{roll.saveType}} Save
		{{else}}
		Roll {{roll.studentSkill}}
		{{/if}}
	</button>
	{{else}}
	<button class="next">
		Select Option
	</button>
	{{/if}}

	{{#if (eq roll.type "gmspecial")}}
	<div>
		Custom Roll (see text)
	</div>
	{{/if}}

	{{else}}
	<button class="next">
		Select Option
	</button>
	{{/if}}
</div>

