<section class="social-links">
	<h2> Social Links</h2>
	{{#each actor.socialLinks as |link|}}
	<div class="social-link" data-link-id="{{link.actor.id}}">
		{{#if link.available}}
		<span class="social-command social-card">
			<a class="draw-social-card" title="Draw Social card">
				<i class="fa-regular fa-id-card"></i>
			</a>
		</span>
		{{/if}}

		<img class="portrait" src={{actor.img}}>
		{{#if (isHighestLinker ../actor link)}}
		<i title="Highest Link Level" class="fa-solid fa-star"></i>
		{{/if}}
		<a class="name">
			{{link.actor.displayedName}}
		</a>
		<span class="tarot">
			( {{link.actor.tarot.displayedName}} )
		</span>
		<span class="relationshipType">
			[ {{link.relationshipType}} ]
		</span>
		<span class="inspiration">
			{{link.inspiration}} / {{link.linkLevel}}
		</span>
		{{#if link.currentProgress}}
		( {{link.currentProgress}} progress )
		{{/if}}
		<span class="social-icons">
			<a class="useInspiration" title="Spend Inspiration">
				<i class="fa-solid fa-user-minus"></i>
			</a>
			<a class="useRecovery" title="Use Recovery">
				<i class="fa fa-heart" aria-hidden="true"></i>
			</a>
			<a class="refreshLink" title="Refresh Inspiration">
				<i class="fa fa-refresh" aria-hidden="true"></i>
			</a>
			{{#if (isGM)}}
			<a class="addSocialRank" title="Increase Social Rank ">
				<i class="fa-solid fa-user-plus"></i>
			</a>
			<a class="removeSocialRank" title="Decrease Social Rank ">
				<i class="fa-solid fa-user-minus"></i>
			</a>
			{{/if}}
			<a class="add-progress-token" title="Add Progress Token">
				<i class="fa-solid fa-arrow-up"></i>
			</a>
			<a class="rem-progress-token" title="Remove Progress Token">
				<i class="fa-solid fa-arrow-down"></i>
			</a>
		</span>
		{{#if (isGM)}}
		<span>
			<select class="relationship-type">
				{{selectOptions ../RELATIONSHIP_TYPES localize=false selected=link.relationshipType}}
			</select>
		</span>
		{{/if}}
	</div>
	{{/each}}

	{{#each actor.unrealizedSocialLinks as |link|}}
	<div class="social-link unrealized-social-link" data-link-id="{{link.id}}">
		{{#if (canForgeSocialLink ../actor link)}}
		<span class="social-command social-card">
			<a class="init-social-link" title="Forge Social Link">
				<i class="fa-solid fa-person-circle-plus"></i>
			</a>
		</span>
		{{/if}}
		<img class="portrait" src={{link.img}}>
		<a class="name">
			{{link.displayedName}}
		</a>
		<span class="tarot">
			( {{link.tarot.displayedName }} )
		</span>
	</div>
	{{/each}}

</section>

