<div class="social-card-roll" data-roll-type="{{roll.type}}"> {{#if (ne roll.rollType "none")}}
	<div>
		{{#if (eqAny roll.rollType "studentSkillCheck" "save" "question")}}
		<button class="make-roll" {{#if (not enabled)}} disabled {{/if}}>
			{{replace label cardData.replaceSet}}
			{{#if (eq roll.rollType "save")}}
			. Roll {{roll.saveType}} Save
			{{/if}}
			{{#if (eq roll.rollType "studentSkillCheck")}}
			. Roll {{roll.studentSkill}}
			{{/if}}
		</button>
		{{else}}
		<button class="next" {{#if (not enabled)}} disabled {{/if}}>
			{{replace label cardData.replaceSet}} (Custom Roll)
		</button>
		{{/if}}
	</div>
	{{else}}
	<button class="next" {{#if (not enabled)}} disabled {{/if}}>
		{{replace label cardData.replaceSet}}
	</button>
	{{/if}}
</div>

