<section>
  {{> "systems/persona/parts/weekly-availability.hbs" item=actor CONST=CONST}}

	<h2> Key Skills</h2>
	<div class="key-skills flexrow">
		<div class="primary">
			<label>
				Primary Skill
			</label>
			<select name="system.keyskill.primary">
				{{selectOptions CONST.STUDENT_SKILLS localize=true selected=actor.system.keyskill.primary}}
			</select>
		</div>
		<div class="secondary">
			<label>
				Secondary Skill
			</label>
			<select name="system.keyskill.secondary">
				{{selectOptions CONST.STUDENT_SKILLS localize=true selected=actor.system.keyskill.secondary}}
			</select>
		</div>
	</div>
	<br>
	<hr>
	<h2> Student Skills</h2>
	<div class="social-stat" data-social-skill="expression">
		<label>
			<a class="roll-icon">
				<img src="icons/dice/d20black.svg">
			</a>
			{{localize	"persona.skills.expression.name"}}
		</label>
		{{#if ( isGM )}}
		{{numberInput actor.system.skills.expression class="short" name="system.skills.expression" step=1 min=0 max=100}}
		{{else}}
		{{actor.system.skills.expression}}
		{{/if}}
		<a class="social-boost">
			<i class="fa-solid fa-square-plus"></i>
		</a>
	</div>
	<div class="social-stat" data-social-skill="courage">
		<label>
			<a class="roll-icon">
				<img src="icons/dice/d20black.svg">
			</a>
			{{localize	"persona.skills.courage.name"}}
		</label>
		{{#if (isGM)}}
		{{numberInput actor.system.skills.courage class="short" name="system.skills.courage" step=1 min=0 max=100}}
		{{else}}
		{{actor.system.skills.courage}}
		{{/if}}
		<a class="social-boost">
			<i class="fa-solid fa-square-plus"></i>
		</a>
	</div>
	<div class="social-stat" data-social-skill="diligence">
		<label>
			<a class="roll-icon">
				<img src="icons/dice/d20black.svg">
			</a>
			{{localize	"persona.skills.diligence.name"}}
		</label>
		{{#if ( isGM )}}
		{{numberInput actor.system.skills.diligence class="short" name="system.skills.diligence" step=1 min=0 max=100}}
		{{else}}
		{{actor.system.skills.diligence}}
		{{/if}}
		<a class="social-boost">
			<i class="fa-solid fa-square-plus"></i>
		</a>
	</div>
	<div class="social-stat" data-social-skill="knowledge">
		<label>
			<a class="roll-icon">
				<img src="icons/dice/d20black.svg">
			</a>
			{{localize	"persona.skills.knowledge.name"}}
		</label>
		{{#if ( isGM )}}
		{{numberInput actor.system.skills.knowledge class="short" name="system.skills.knowledge" step=1 min=0 max=100}}
		{{else}}
		{{actor.system.skills.knowledge}}
		{{/if}}
		<a class="social-boost">
			<i class="fa-solid fa-square-plus"></i>
		</a>
	</div>
	<div class="social-stat" data-social-skill="understanding">
		<label>
			<a class="roll-icon">
				<img src="icons/dice/d20black.svg">
			</a>
			{{localize	"persona.skills.understanding.name"}}
		</label>
		{{#if ( isGM )}}
		{{numberInput actor.system.skills.understanding class="short" name="system.skills.understanding" step=1 min=0 max=100}}
		{{else}}
		{{actor.system.skills.understanding}}
		{{/if}}
		<a class="social-boost">
			<i class="fa-solid fa-square-plus"></i>
		</a>
	</div>
	<div class="availability">
		{{#if (isGM)}}
		<label>
			Availability
		</label>
		<select name="system.availability">
			{{selectOptions CONST.AVAILABILITY localize=true selected=actor.system.availability}}
		</select>
		{{/if}}
	</div>

</section>

<div class="perk">
	<span>
		<b>Tarot Perk:</b>
	</span>
	<span>
		{{actor.tarot.system.perk}}
	</span>
</div>

<section class="social-links">
	<h2> Social Links</h2>
	{{#each actor.socialLinks as |link|}}
	<div class="social-link" data-link-id="{{link.actor.id}}">
		{{#if link.available}}
		<span class="social-command social-card">
		<a class="draw-social-card" title="Draw Social card">
			<i class="fa-regular fa-id-card"></i>
		</a>
		</span>
		{{/if}}

		<img class="portrait" src={{actor.img}}>
		{{#if (isHighestLinker ../actor link)}}
		<i title="Highest Link Level" class="fa-solid fa-star"></i>
		{{/if}}
		<a class="name">
			{{link.actor.displayedName}}
		</a>
		<span class="tarot">
			( {{link.actor.system.tarot}} )
		</span>
		<span class="relationshipType">
			[ {{link.relationshipType}} ]
		</span>
		<span class="inspiration">
			{{link.inspiration}} / {{link.linkLevel}}
		</span>
		{{#if link.currentProgress}}
		( {{link.currentProgress}} progress )
		{{/if}}
		<span class="social-icons">
			<a class="useInspiration" title="Spend Inspiration">
				<i class="fa-solid fa-user-minus"></i>
			</a>
			<a class="useRecovery" title="Use Recovery">
				<i class="fa fa-heart" aria-hidden="true"></i>
			</a>
			<a class="refreshLink" title="Refresh Inspiration">
				<i class="fa fa-refresh" aria-hidden="true"></i>
			</a>
			{{#if (isGM)}}
			<a class="addSocialRank" title="Increase Social Rank ">
				<i class="fa-solid fa-user-plus"></i>
			</a>
			<a class="removeSocialRank" title="Decrease Social Rank ">
				<i class="fa-solid fa-user-minus"></i>
			</a>
			{{/if}}
			<a class="addSocialBoost" title="Give Social Boost">
				<i class="fa-solid fa-arrow-up"></i>
			</a>
			<a class="removeSocialBoosts" title="Clear Social Boosts">
				<i class="fa-solid fa-arrow-down"></i>
			</a>
		</span>
		{{#if (isGM)}}
		<span>
			<select class="relationship-type">
				{{selectOptions ../RELATIONSHIP_TYPES localize=false selected=link.relationshipType}}
			</select>
		</span>
		{{/if}}
	</div>

		{{/each}}

</section>

<section>
	<h2> Jobs </h2>
	{{#each jobs as |job|}}
	<div class="job" data-activity-id="{{job.id}}">
		{{#if job.system.weeklyAvailability.available}}
		<span class="social-command social-card">
		<a class="draw-activity-card" title="Draw Activity card">
			<i class="fa-regular fa-id-card"></i>
		</a>
		</span>
		{{/if}}
		<img class="portrait" src="{{job.img}}">
		<a class="name">
			{{job.name}}
		</a>

	</div>
	{{/each}}
</section>
