<div class="social-card-roll" data-roll-type="{{roll.type}}"> {{#if (ne roll.rollType "none")}}
	<div>
		{{#if (eqAny roll.rollType "studentSkillCheck" "save")}}
		<button class="make-roll" {{#if (not enabled)}} disabled {{/if}}>
			{{#if (eq roll.rollType "save")}}
			{{label}}. Roll {{roll.saveType}} Save
			{{else}}
			{{label}}. Roll {{roll.studentSkill}}
			{{/if}}
		</button>
		{{else}}
		<button class="next" {{#if (not enabled)}} disabled {{/if}}>
			{{label}} (Custom Roll)
		</button>
		{{/if}}
	</div>
	{{else}}
	<button class="next" {{#if (not enabled)}} disabled {{/if}}>
		{{label}}
	</button>
	{{/if}}
</div>

