<div class="talent-section">
	<h2>
		{{localize 	"persona.statistic.talents"}}
		<a class="showTalentsTable">
			<i class="fa-solid fa-table-list"></i>
		</a>

	</h2>
	<table class="talents-table">
		{{#each persona.talents as |talent|}}
		<tr data-talent-id="{{talent.id}}">
			<td>
				<a class="talentName" title="{{talent.tooltip}}">
					{{talent.name}} ({{getTalentLevel ../persona talent}})
				</a>
			</td>
			<td>
				<a class="delTalent">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</td>
		</tr>
		{{/each}}
	</table>
</div>


