<h2> Weekly Availability</h2>
<section class="weekly-availability">
	{{#each CONST.DAYS as |day i|}}
	<div class="day">
		<label>{{day}}</label>
		<input type="checkbox" name={{strcat "system.weeklyAvailability." day}} {{checked (lookup ../item.system.weeklyAvailability day) }}>
	</div>
	{{/each}}
</section>
{{#if (isGM)}}
<div>
	<label>Available</label>
	<input type="checkbox" name="system.weeklyAvailability.available" {{checked item.system.weeklyAvailability.available }}>
	<label> Disabled </label>
	<input type="checkbox" name="system.weeklyAvailability.disabled" {{checked item.system.weeklyAvailability.disabled }}>
</div>
{{/if}}

