<div class="social-card-event" data-event-index="{{eventIndex}}" data-card-id="{{cardData.card.id}}">
	<div class="flexrow">
		{{#if event.img}}
		<div>
			<img class="event-img" src="{{event.img}}">
		</div>
		{{/if}}
		<h4>
			Event {{eventNumber}}:
			{{event.name}}
		</h4>
	</div>
	<div class="event-text">
		{{choice.name}}: {{replace event.text cardData.replaceSet}}
	</div>
	{{#each event.choices as |choice i|}}
	<div class="event-choice" data-choice-index="{{i}}">
		{{> "systems/persona/parts/social-card-roll.hbs" roll=choice.roll cardData=../cardData situation=situation enabled=(choiceMeetsConditions ../cardData choice) label=choice.name  resourceCost=choice.resourceCost}}
		{{#if (not (choiceMeetsConditions ../cardData choice))}}
		<div class="missing-conditions">
			Requires: {{printConditionals choice.conditions}}
		</div>
		{{/if}}
		<div class="choice-text">
			{{#if choice.resourceCost}}
			<span class="cost">
				Pay {{choice.resourceCost}} R.
			</span>
			{{/if}}

			{{newlineConversion (replace choice.appendedText ../cardData.replaceSet)}}
		</div>
	</div>
	{{/each}}
</div>
