<div class="social-card-opportunity">
	<h2>Opportunity</h2>
	{{item.system.opportunity}}
	{{#if item.system.opportunity_choices}}
	Choices : {{item.system.opportunity_choices}}
	<ul class="opportunity-list">
		{{#each item.system.opportunity_list as |opp i|}}
		{{#if (meetsConditions ../cardData opp.conditions )}}
		<li data-opportunity-index="{{i}}">
			{{#if (gt opp.choices 1)}}
			({{opp.choices}}) :
			{{/if}}
			{{opp.name}} -
			{{newlineConversion (replace opp.text ../cardData.replaceSet)}}
		</li>

			{{/if}}
	{{/each}}
	</ul>

	{{/if}}
</div>



