<div class="social-card-event" data-event-index="{{eventIndex}}" data-card-id="{{cardData.card.id}}">
	<h4>
		Event {{eventNumber}}:
		{{event.name}}
	</h4>
	<div class="event-text">
		{{event.text}}
	</div>
	{{#each event.choices as |choice i|}}
	<div class="event-choice" data-choice-index="{{i}}">
		<h3>
			{{#if (meetsConditions ../cardData choice.conditions)}}
			Choice : {{choice.name}}
			{{/if}}
		</h3>
		<div class="choice-text">
			{{newlineConversion choice.text}}
		</div>
		{{> "systems/persona/parts/social-card-roll.hbs" roll=choice.roll cardData=cardData situation=situation }}
	</div>
	{{/each}}
</div>
