<div class="social-card" data-link-id="{{linkId}}" data-user-id="{{user.id}}" data-pc-id="{{pc.id}}">
	{{#if link.actor}}
	<h2> {{link.actor.name}} (SL {{link.linkLevel}})
		{{#if (isHighestLinker pc link)}}
		<i title="Highest Link Level" class="fa-solid fa-star"></i>
		{{/if}}
	</h2>
	{{/if}}
	{{#if link.activity}}
	<h2> {{link.activity.name}} </h2>
	{{/if}}
	{{#if (isNonstandardPic card.img)}}
	<img src="{{card.img}}">
	{{else}}
	<img src="{{link.actor.img}}">
	{{/if}}
	<h2 class="card-title">
		{{card.name}}
	</h2>
	<div class="automatic">
		<h4> Automatic<h4>
				{{newlineConversion card.system.automatic}}
	</div>
	<div class="perk {{#if (not perkAvail)}} disabled {{/if}}">
		<b>Perk: </b>
		{{newlineConversion perk}}
	</div>
	{{#if isCameo}}
	<hr>
	<div class="cameo">
		<h2>Cameo </h2>
		<div>
			Cameos:
			<ul>
				{{#each cameos as |cameo|}}
				<li>{{cameo.name}} </li>
				{{/each}}
			</ul>
		</div>
		{{#if card.system.cameo}}
		<div>
			{{newlineConversion card.system.cameo}}
		</div>
		{{/if}}
		{{#if card.system.cameoOpportunity}}
		<div>
		<b> Cameo Opportunity:</b> {{newlineConversion card.system.cameoOpportunity}}
		</div>
		{{/if}}
	</div>

	{{/if}}
	{{#if card.system.opportunity}}
	<hr>
	<div class="opportunity">
		<b>Opportunity: </b>
		{{newlineConversion card.system.opportunity}}
	</div>
	{{/if}}
	{{#if card.system.bane}}
	<hr>
	<div class="bane">
		<b>Bane: </b>
		{{newlineConversion card.system.bane}}
	</div>
	{{/if}}
	{{#if card.system.boon}}
	<hr>
	<div class="boon">
		<b>Boon: </b>
		{{newlineConversion card.system.boon}}
	</div>
	{{/if}}
</div>

