<section class="room-effects-dialog">
	<select class="room-mod">
		{{selectOptions ROOMMODS localize=false}}
	</select>
	<select class="room-mod">
		{{selectOptions ROOMMODS localize=false}}
	</select>
	<select class="room-mod">
		{{selectOptions ROOMMODS localize=false}}
	</select>
	<div>
		<label>
			Social Round
		</label>
		<input class="social-round" type="checkbox"  {{checked startSocial}}>
	</div>
	<div>
		<label>
			Advance Calendar On start
		</label>
		<input class="advance-calendar" type="checkbox"  {{checked startSocial}}>
	</div>
	<div>
		<label>
			Just came from the Metaverse
		</label>
		<input class="disallow-metaverse" type="checkbox"  {{checked startSocial}}>
		<label>
	</div>
</section>
