<div class="scan-dialog">
	<div>
		<label> Identifier: </label> {{token.name}}
	</div>
	{{#if (ne actor.prototypeToken.name token.baseActor.name)}}
	<div>
		<label> Actual Name: </label> {{token.baseActor.name}}
	</div>
	{{/if}}
	<hr>
	<div>
		<label>Tarot </label>
		<span> {{actor.tarot.name}} </span>
	</div>
	<div>
		<label>Role</label>
		<span>{{actor.system.role}} </span>
	</div>

	<section>
		<div>
			<label>
				{{localize "persona.defense.fort"}}
			</label>
			{{#if (lt scanLevel 2)}}
			{{actor.system.combat.defenses.fort}}
			{{else}}
			{{getDefense actor "fort"}}
			{{/if}}
		</div>

		<div>
			<label>
				{{localize "persona.defense.ref"}}
			</label>
			{{#if (lt scanLevel 2)}}
			{{actor.system.combat.defenses.ref}}
			{{else}}
			{{getDefense actor "ref"}}
			{{/if}}
		</div>

		<div>
			<label>
				{{localize "persona.defense.will"}}
			</label>
			{{#if (lt scanLevel 2)}}
			{{actor.system.combat.defenses.will}}
			{{else}}
			{{getDefense actor "will"}}
			{{/if}}
		</div>

	</section>

	<section class="resistance">
		<div class="resistance-block">
			<div class="resistance-item">
				<img src="systems/persona/img/icon/phys.webp">
				<select name="system.combat.resists.physical" disabled>
					{{selectOptions CONST.RESIST_STRENGTHS localize=true selected=actor.system.combat.resists.physical}}
				</select>
			</div>
			<div class="resistance-item">
				<img src="systems/persona/img/icon/fire.webp">
				<select name="system.combat.resists.fire" disabled>
					{{selectOptions CONST.RESIST_STRENGTHS localize=true selected=actor.system.combat.resists.fire}}
				</select>
			</div>
			<div class="resistance-item">
				<img src="systems/persona/img/icon/ice.webp">
				<select name="system.combat.resists.cold" disabled>
					{{selectOptions CONST.RESIST_STRENGTHS localize=true selected=actor.system.combat.resists.cold}}
				</select>
			</div>
			<div class="resistance-item">
				<img src="systems/persona/img/icon/elec.webp">
				<select name="system.combat.resists.lightning" disabled>
					{{selectOptions CONST.RESIST_STRENGTHS localize=true selected=actor.system.combat.resists.lightning}}
				</select>
			</div>
			<div class="resistance-item">
				<img src="systems/persona/img/icon/wind.webp">
				<select name="system.combat.resists.wind" disabled>
					{{selectOptions CONST.RESIST_STRENGTHS localize=true selected=actor.system.combat.resists.wind}}
				</select>
			</div>
			<div class="resistance-item">
				<img src="systems/persona/img/icon/light.webp">
				<select name="system.combat.resists.light" disabled>
					{{selectOptions CONST.RESIST_STRENGTHS localize=true selected=actor.system.combat.resists.light}}
				</select>
			</div>
			<div class="resistance-item">
				<img src="systems/persona/img/icon/dark.webp" disabled>
				<select name="system.combat.resists.dark">
					{{selectOptions CONST.RESIST_STRENGTHS localize=true selected=actor.system.combat.resists.dark}}
				</select>
			</div>
		</div>
	</section>

	{{#if (gt scanLevel 1)}}

	<div class="main-powers">
		{{#each actor.mainPowers as |power i|}}
		<div class="main-power" data-power-id="{{power.id}}">
			<div class="power-name-block {{#if (lte ../actor.maxPowers i)}} over-max-power {{/if}} ">
				{{#if (false)}}
				<a class="rollPower" >
					<img src="icons/dice/d20black.svg">
				</a>
					{{/if}}
					<a class="powerName" title='{{> "systems/persona/parts/power-tooltip.hbs" actor=../actor CONST=../CONST power=power}}'>
						{{power.name}}
					</a>
			</div>
			<div class="power-operations">
			</div>
		</div>
		{{/each}}
	</div>
	{{/if}}

</div>

