<form class="class-sheet">
	 <div>
			<input type="text" class="borderless item-name" name="name" value="{{item.name}}" title="Class Name" placeholder="Class Name">
	 </div>
	 <section class="f-row hp">
			<h3>HP</h3>
			<div>
				 <label>
						Growth
				 </label>
				 {{numberInput item.system.hpgrowth.growthRate class="short" name="system.hpgrowth.growthRate" step=0.005 min=0.5 max=3}}
			</div>
			<div>
				 <label>
						Initial
				 </label>
				 {{numberInput item.system.hpgrowth.initial class="short" name="system.hpgrowth.initial" step=1 min=10 max=100}}
			</div>
			<div>
				 <label>
						Initial Growth Amount
				 </label>
				 {{numberInput item.system.hpgrowth.initialGrowthAmount class="short" name="system.hpgrowth.initialGrowthAmount" step=0.1 min=0.1 max=10}}
			</div>
			<div>
				 <label>
						Growth Acceleration
				 </label>
				 {{numberInput item.system.hpgrowth.growthAcceleration class="short" name="system.hpgrowth.growthAcceleration" step=0.01 min=0 max=1}}
			</div>
	 </section>
	 <section class="f-row hp">
			<h3>MP</h3>
			<div>
				 <label>
						Growth
				 </label>
				 {{numberInput item.system.mpgrowth.growthRate class="short" name="system.mpgrowth.growthRate" step=0.005 min=0.5 max=3}}
			</div>
			<div>
				 <label>
						Initial
				 </label>
				 {{numberInput item.system.mpgrowth.initial class="short" name="system.mpgrowth.initial" step=1 min=10 max=100}}
			</div>
			<div>
				 <label>
						Initial Growth Amount
				 </label>
				 {{numberInput item.system.mpgrowth.initialGrowthAmount class="short" name="system.mpgrowth.initialGrowthAmount" step=0.1 min=0.1 max=10}}
			</div>
			<div>
				 <label>
						Growth Acceleration
				 </label>
				 {{numberInput item.system.mpgrowth.growthAcceleration class="short" name="system.mpgrowth.growthAcceleration" step=0.001 min=0 max=2}}
			</div>
	 </section>

	 <section class="persona-section">
			<div>
				 <label>
						Unique Personas
				 </label>
				 {{numberInput item.system.uniquePersonas class="short" name="system.uniquePersonas" step=1 min=0 max=3}}
			</div>
			<div>
				 <label>
						max Personas
				 </label>
				 {{numberInput item.system.maxPersonas class="short" name="system.maxPersonas" step=1 min=0 max=8}}
			</div>
			<div>
				 <label>
						Can Use Random Personas
				 </label>
				 <input type="checkbox" name="system.canUseRandomPersonas" {{checked item.system.canUseRandomPersonas}}>
			</div>
			<div>
				 <label>
						Persona Affinities
				 </label>
				 <select name="system.affinityType" >
						{{selectOptions CONST.PERSONA_AFFINITIES localize=true selected=item.system.affinityType}}
				 </select>
			</div>
	 </section>

	 <table>
			<tr>
				 <th> Lvl </th>
				 <th> HP </th>
				 <th> MP </th>
			</tr>
			{{#each (levelSampleArray) as |lvl|}}
			<tr>
				 <td> {{lvl}}</td>
				 <td>
						{{HPAtLevel ../item lvl}}
				 </td>
				 <td>
						{{MPAtLevel ../item lvl}}
				 </td>
			</tr>
			{{/each}}
	 </table>
</form>


