<form class="class-sheet">
	<div>
		<input type="text" class="borderless item-name" name="name" value="{{item.name}}" title="Class Name" placeholder="Class Name">
	</div>
	<table>
		<tr>
			<th>Level</th>
			<th> Max HP</th>
			<th> Wpn Multiplier </th>
			<th> Magic Damage </th>
			<th> Powers Known </th>
			<th> Slots </th>
			<th> Talents </th>
		</tr>
		{{#each item.system.leveling_table as |lvl i|}}
		<tr>
			<td>
				<input class="short" type="number" name="system.leveling_table.{{i}}.lvl_num" value="{{lvl.lvl_num}}">
			</td>
			<td>
				<input class="short" type="number" name="system.leveling_table.{{i}}.maxhp" value="{{lvl.maxhp}}">
			</td>
			<td>
				<input class="short" type="number" name="system.leveling_table.{{i}}.wpn_mult" value="{{lvl.wpn_mult}}">
			</td>
			<td>
				<input class="short" type="number" name="system.leveling_table.{{i}}.magic_damage.low" value="{{lvl.magic_damage.low}}">
				-
				<input class="short" type="number" name="system.leveling_table.{{i}}.magic_damage.high" value="{{lvl.magic_damage.high}}">
				boost (
				<input class="short" type="number" name="system.leveling_table.{{i}}.magic_damage.boost" value="{{lvl.magic_damage.boost}}">
				)
			</td>
			<td>
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.powers_known.0" value="{{lvl.powers_known.[0]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.powers_known.1" value="{{lvl.powers_known.[1]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.powers_known.2" value="{{lvl.powers_known.[2]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.powers_known.3" value="{{lvl.powers_known.[3]}}">
			</td>
			<td>
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.slots.0" value="{{lvl.slots.[0]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.slots.1" value="{{lvl.slots.[1]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.slots.2" value="{{lvl.slots.[2]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.slots.3" value="{{lvl.slots.[3]}}">
			</td>
			<td>
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.talents.0" value="{{lvl.talents.[0]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.talents.1" value="{{lvl.talents.[1]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.talents.2" value="{{lvl.talents.[2]}}">
				<input class="single-digit" type="number" name="system.leveling_table.{{i}}.talents.3" value="{{lvl.talents.[3]}}">
			</td>
		</tr>
		{{/each}}
	</table>
	<button class="add-row"> Add Row </button>

</form>


