<form class="weapon-sheet">
	<input type="text" class="borderless item-name" name="name" value="{{item.name}}" title="Conusmable Name" placeholder="Consumable Name">
	<textarea name="system.description">
		{{item.system.description}}
	</textarea>
	<hr>
	<div class="damage">
		<label class="dmg-low">
			Low
		</label>
		{{numberInput item.system.damage.low class="short" name="system.damage.low" step=1 min=0 max=900}}
		<label class="dmg-high">
			High
		</label>
		{{numberInput item.system.damage.high class="short" name="system.damage.high" step=1 min=0 max=900}}
	</div>
	<hr>

	{{#if (isGM)}}
	<label> Price </label>
	{{numberInput item.system.price class="short" name="system.price" step=1 min=0 max=900}}
	<br>
	<label> No Trade </label>
	<input type="checkbox" name="system.noTrade" {{checked item.system.noTrade}}>
	{{else}}
	{{#if item.system.noTrade}}
	<b> Can't trade</b>
	{{/if}}
	{{/if}}

	{{> "systems/persona/parts/power-effects.hbs" item=item POWERSTUFF=POWERSTUFF}}


</form>

