<form class="weapon-sheet">
	<input type="text" class="borderless item-name" name="name" value="{{item.name}}" title="Conusmable Name" placeholder="Consumable Name">
	<textarea name="system.description">
		{{item.system.description}}
	</textarea>
	<hr>

	<div class="tags">
		<h2>
			<span>Tags</span>
			<a class="addTag">
				<i class="fa-solid fa-plus"> </i>
			</a>
		</h2>
		<div class="tag-list">
			{{#each item.system.tags as |tag i|}}
			<div class="tag-item", data-tag-index="{{i}}">
				<select name="system.tags.{{i}}">
					{{selectOptions ../POWERSTUFF.TAGS localize=true selected=tag}}
				</select>
				<a class="delTag">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
			{{/each}}
		</div>
	</div>

	<div class="damage">
		<label class="dmg-mult">
			Extra Damage Mult
		</label>
		{{numberInput item.system.melee_extra_mult class="short" name="system.melee_extra_mult" step=1 min=0 max=100}}
	</div>
	<hr>


	{{#if (isGM)}}
	<label> Price </label>
	{{numberInput item.system.price class="short" name="system.price" step=1 min=0 max=900}}
	<br>
	<label> No Trade </label>
	<input type="checkbox" name="system.noTrade" {{checked item.system.noTrade}}>
	{{else}}
	{{#if item.system.noTrade}}
	<b> Can't trade</b>
	{{/if}}
	{{/if}}

	{{> "systems/persona/parts/power-effects.hbs" item=item POWERSTUFF=POWERSTUFF}}


</form>

