<form class="item-sheet">
	<header>
		<div class="flexrow">
			<div>
				<img class="profile-img" src="{{item.img}}" data-edit="img"/>
			</div>
			<div>

				<h2> Item </h2>
				<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Power Name" placeholder="Power Name">

				<div class="equip-slot">
					<label>
						Slot
					</label>
					<select name="system.slot">
						{{selectOptions EQUIP_SLOTS localize=true selected=item.system.slot}}
					</select>
				</div>
				{{> "systems/persona/parts/itemTags.hbs" item=item POWERSTUFF=POWERSTUFF}}
				<textarea name="system.description">{{item.system.description}}</textarea>

				{{#if (isGM)}}
				<label> Price </label>
				{{numberInput item.system.price class="short" name="system.price" step=1 min=0 max=900}}
				<br>
				<label> No Trade </label>
				<input type="checkbox" name="system.noTrade" {{checked item.system.noTrade}}>
				{{else}}
				{{#if item.system.noTrade}}
				<b> Can't trade</b>
				{{/if}}
				{{/if}}
				{{#if (eq item.system.slot "body")}}
				<div class="armor-stats">
					<div class="hp-boost">
						<label>
							Armor HP Bonus:
						</label>
						{{numberInput item.system.armorHPBoost class="short" name="system.armorHPBoost" step=1 min=0 max=200}}
					</div>
					{{#if (isGM)}}
					<div class="armor-level">
						<label>
							Armor Level:
						</label>
						{{numberInput item.system.armorLevel class="short" name="system.armorLevel" step=1 min=0 max=15}}
					</div>
					{{/if}}
					<div class="armor-dr">
						<label>
							Armor DR :
						</label>
						<span>
							{{armorDR item}}
						</span>
					</div>
				</div>
				{{/if}}
				<br>
			</div>
	</header>

	{{> "systems/persona/parts/effects-section-tri.hbs" item=item POWERSTUFF=POWERSTUFF}}
</form>
