<form class="job-sheet">
	<img class="profile-img" src="{{item.img}}" data-edit="img"/>
	<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Job Name" placeholder="Job Name">

  {{> "systems/persona/parts/weekly-availability.hbs" item=item CONST=CONST}}
	<div class="card-conditions">
		<h5> Conditions
			<a class="add-condition">
				<i class="fa-solid fa-plus"> </i>
			</a>
		</h5>
		{{#each item.system.conditions as |cond i|}}
		{{> "systems/persona/parts/input-condition.hbs" namePrefix=(strcat "system.conditions." i  ".")  cond=cond POWERSTUFF=../item.sheet.powerStuff condition_index=i}}
		{{/each}}
	</div>

		<div class="base-relationship">
			<label>
				Card specifier
			</label>
			<select name="system.baseRelationship">
				{{selectOptions RELATIONSHIP_TYPES localize=false selected=item.system.baseRelationship}}
			</select>
		</div>

	<div class="primary">
		<label>
			Primary Skill
		</label>
		<select name="system.keyskill.primary">
			{{selectOptions STUDENT_SKILLS localize=true selected=item.system.keyskill.primary}}
		</select>
	</div>
	<div class="secondary">
		<label>
			Secondary Skill
		</label>
		<select name="system.keyskill.secondary">
			{{selectOptions STUDENT_SKILLS localize=true selected=item.system.keyskill.secondary}}
		</select>
	</div>
	<div>
		<label>
			DC
		</label>
		{{numberInput item.system.dc class="short" name="system.dc" step=1 min=10 max=50}}
	</div>
	<div>
		<label>
			Pay
		</label>
		{{numberInput item.system.pay.low class="short" name="system.pay.low" step=1 min=0 max=20}}
		{{numberInput item.system.pay.high class="short" name="system.pay.high" step=1 min=0 max=20}}

	</div>
	<br>
	<label>
		Active
	</label>
	<input type="checkbox" name="system.active" {{checked item.system.active}}>
	<hr>
	<label>
		Perk
	</label>
	<textarea name="system.perk">
		{{item.system.perk}}
	</textarea>
	<label>
		Critical
	</label>
	<textarea name="system.critical">
		{{item.system.critical}}
	</textarea>
	<label>
		Bane
	</label>
	<textarea name="system.bane">
		{{item.system.bane}}
	</textarea>
	<label>
		Availability
	</label>
	<select name="system.availability">
		{{selectOptions AVAILABILITY localize=true selected=item.system.availability}}
	</select>
  {{> "systems/persona/parts/token-spends-section.hbs" item=item}}

</form>

