<form class="npc-ally-sheet">
	<header class="flexcol">
		<div class="flexrow">
			<img class="profile-img" src="{{actor.img}}" data-edit="img"/>
			<div>
				<input type="text" class="borderless character-name" name="name" value="{{actor.name}}" title="Character Name" placeholder="Character Name" {{#if actor.system.locked}} disabled {{/if}}>
				<div class="flexrow">
					<div>
						<label>
							{{localize "persona.tarot.cardname"}}
						</label>
						<select name="system.tarot">
							{{selectOptions CONST.TAROT localize=true selected=actor.system.tarot}}
						</select>
					</div>
					<div>
						<label>
							Navigator
						</label>
						<input class="navigator-check" type="checkbox" name="system.combat.isNavigator" {{checked actor.system.combat.isNavigator}}>
					</div>
				</div>
				<div>
					<label> Total SLs:</label>
					<span>
						{{actor.totalSLs}}
					</span>
				</div>
				{{> "systems/persona/parts/creatureTags.hbs" actor=actor POWERSTUFF=POWERSTUFF}}
			</div>
		</div>
	</header>
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="combat">
			{{localize "persona.sheet.tabs.combat.tabname" }}
		</a>
		{{#if (isGM)}}
		<a  class="item" data-tab="persona">
			{{actor.system.personaName}}
		</a>
		{{/if}}

		<a class="item" data-tab="inv">
			{{localize "persona.sheet.tabs.inventory.tabname" }}
		</a>
		{{#if (isGM)}}
		<a class="item" data-tab="social">
			{{localize "persona.sheet.tabs.social-benefits.tabname" }}
		</a>
		<a class="item" data-tab="npc-data">
			{{localize "persona.sheet.tabs.social-section.tabname" }}
		</a>
		<a  class="item" data-tab="learning">
			{{localize "persona.sheet.tabs.learning.tabname" }}
		</a>
		{{/if}}
	</nav>

	<section class="sheet-body">
		<section class="tab tab-content combat-section flexcol" data-group="primary" data-tab="combat">
			{{> "systems/persona/parts/combat-section.hbs" actor=actor persona=(persona actor)}}
		</section>
		<section class="tab tab-content inventory-section flexcol" data-group="primary" data-tab="inv">
			{{> "systems/persona/parts/inventory-section.hbs" actor=actor CONST=CONST equips=equips}}
		</section>
		{{#if (isGM)}}
		<section class="tab tab-content social-section flexcol" data-group="primary" data-tab="social">
			{{> "systems/persona/parts/npc-social-focii.hbs" actor=actor POWERSTUFF=POWERSTUFF}}
		</section>
		<section class="tab tab-content npc-data-section flexcol" data-group="primary" data-tab="npc-data">
			{{> "systems/persona/parts/npc-social-section.hbs" actor=actor POWERSTUFF=POWERSTUFF}}
		</section>
		<section class="tab tab-content persona-section flexcol" data-group="primary" data-tab="persona">
			{{> "systems/persona/parts/base-persona-section.hbs" actor=actor CONST=CONST persona=actor.basePersona}}
		</section>
		<section class="tab tab-content encounter-section flexcol" data-group="primary" data-tab="learning">
			{{> "systems/persona/parts/learned-powers-section.hbs" actor=actor CONST=CONST persona=actor.basePersona}}
		</section>
		{{/if}}

	</section>

</form>
