<form class="npc-sheet">
	<header class="flexcol">
		<div class="flexrow">
			<img class="profile-img" src="{{actor.img}}" data-edit="img"/>
			<input type="text" class="borderless character-name" name="name" value="{{actor.name}}" title="Character Name" placeholder="Character Name" {{#if actor.system.locked}} disabled {{/if}}>
		</div>
		<div class="flexrow">
			<label>
				{{localize "persona.tarot.cardname"}}
			</label>
			<select name="system.tarot">
				{{selectOptions CONST.TAROT localize=true selected=actor.system.tarot}}
			</select>
		</div>
		{{> "systems/persona/parts/creatureTags.hbs" actor=actor POWERSTUFF=POWERSTUFF}}
	</header>


	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="social">
			{{localize "persona.sheet.tabs.social-benefits.tabname" }}
		</a>
		<a class="item" data-tab="npc-data">
			{{localize "persona.sheet.tabs.social-section.tabname" }}
		</a>
		{{#if (isGM)}}
		<a class="item" data-tab="npc-questions">
			{{localize "persona.sheet.tabs.questions.tabname" }}
		</a>
		{{/if}}
	</nav>
	<section class="sheet-body">
		<section class="tab tab-content combat-section flexcol" data-group="primary" data-tab="npc-data">
			{{> "systems/persona/parts/npc-social-section.hbs" actor=actor POWERSTUFF=POWERSTUFF}}
		</section>
		<section class="tab tab-content combat-section flexcol" data-group="primary" data-tab="social">
			{{> "systems/persona/parts/npc-social-focii.hbs" actor=actor POWERSTUFF=POWERSTUFF}}
		</section>
		{{#if (isGM)}}
		<section class="tab tab-content questions-section flexcol" data-group="primary" data-tab="npc-questions">
			{{> "systems/persona/parts/npc-questions.hbs" actor=actor POWERSTUFF=POWERSTUFF}}
		</section>
		{{/if}}
	</section>

</form>
