<form class="pc-sheet {{#if actor.system.locked}} locked {{else}} unlocked {{/if}}">
	<header class="flexcol">
		<div class="flexrow">
			<img class="profile-img" src="{{actor.img}}" data-edit="img"/>
			<div>
				<input type="text" class="borderless character-name" name="name" value="{{actor.name}}" title="Character Name" placeholder="Character Name" {{#if actor.system.locked}} disabled {{/if}}>
				<div class="flexrow">
					<label>
						{{localize "persona.tarot.cardname"}}
					</label>
					<select name="system.tarot">
						{{selectOptions CONST.TAROT localize=true selected=actor.system.tarot}}
					</select>
				</div>
			</div>

		</div>

		<textarea name="system.short_desc"> {{actor.system.short_desc}} </textarea>
	</header>
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="combat">
			{{localize "persona.sheet.tabs.combat.tabname" }}
		</a>
		<a class="item" data-tab="social">
			{{localize "persona.sheet.tabs.social.tabname" }}
		</a>
		<a class="item" data-tab="inv">
			{{localize "persona.sheet.tabs.inventory.tabname" }}
		</a>
		<a class="item" data-tab="inc">
			{{localize "persona.sheet.tabs.incremental.tabname" }}
		</a>
	</nav>
	<section class="sheet-body">
		<section class="tab tab-content social-section flexcol" data-group="primary" data-tab="social">
			{{> "systems/persona/parts/social-section.hbs" actor=actor}}
		</section>
		<section class="tab tab-content combat-section flexcol" data-group="primary" data-tab="combat">

			{{> "systems/persona/parts/combat-section.hbs" actor=actor}}
		</section>
		<section class="tab tab-content inventory-section flexcol" data-group="primary" data-tab="inv">
			{{> "systems/persona/parts/inventory-section.hbs" actor=actor CONST=CONST equips=equips}}
		</section>
		<section class="tab tab-content incremental-section flexcol" data-group="primary" data-tab="inc">
			{{> "systems/persona/parts/incremental-section.hbs" actor=actor CONST=CONST}}
		</section>
	</section>
</form>
