<form class="power-sheet">
	<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Power Name" placeholder="Power Name">
	<select name="system.subtype">
		{{selectOptions POWERSTUFF.POWERTYPES localize=true selected=item.system.subtype}}
	</select>

	<div class="tags">
		<h2>
			<span>Tags</span>
			<a class="addTag">
				<i class="fa-solid fa-plus"> </i>
			</a>
		</h2>
		<div class="tag-list">
			{{#each item.system.tags as |tag i|}}
			<div class="tag-item", data-tag-index="{{i}}">
				<select name="system.tags.{{i}}">
					{{selectOptions ../POWERSTUFF.TAGS localize=true selected=tag}}
				</select>
				<a class="delTag">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
			{{/each}}
		</div>
	</div>


	{{#if (eq item.system.subtype "weapon")}}
	<div class="hp-cost">
		<label class="hp-cost">
			{{localize	"persona.power.hpcost"}}
		</label>
		{{numberInput item.system.hpcost class="short" name="system.hpcost" step=1 min=0 max=100}}
	</div>
	<div class="damage">
		<label class="dmg-low">
			Low
		</label>
		{{numberInput item.system.damage.low class="short" name="system.damage.low" step=1 min=0 max=900}}
		<label class="dmg-high">
			High
		</label>
		{{numberInput item.system.damage.high class="short" name="system.damage.high" step=1 min=0 max=900}}
	</div>
	{{/if}}
	{{#if (eq item.system.subtype "magic")}}
	<div class="slot-cost">
		<label>
			{{localize "persona.power.slotcost"}}
		</label>
		<select name="system.slot">
			{{selectOptions POWERSTUFF.SLOTTYPES localize=true selected=item.system.slot}}
		</select>
	</div>
	<div class="mag-mult">
		<label>
			Multiplier
		</label>
		{{numberInput item.system.mag_mult class="short" name="system.mag_mult" step=1 min=0 max=900}}
	</div>
	{{/if}}
	<hr>
			{{> "systems/persona/parts/power-effects.hbs" item=item POWERSTUFF=POWERSTUFF}}


</form>
