<form class="social-card-sheet">

	<img class="profile-img" src="{{item.img}}" data-edit="img"/>
	<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Job Name" placeholder="Job Name">

	<div class="card-conditions">
		<h5> Conditions
			<a class="add-condition">
				<i class="fa-solid fa-plus"> </i>
			</a>
		</h5>
		{{#each item.system.conditions as |cond i|}}
		{{> "systems/persona/parts/input-condition.hbs" namePrefix=(strcat "system.conditions." i  ".")  cond=cond POWERSTUFF=../item.sheet.powerStuff condition_index=i}}
		{{/each}}
	</div>

	<div>
	 <select name="system.cardType">
		{{selectOptions SOCIAL_CARD_TYPES localize=true selected=item.system.cardType}}
	 </select>
	</div>

	  <section class="qualifiers">
		  <div class="header"> Qualifiers
			  <a class="add-qualifier">
				  <i class="fa-solid fa-square-plus"></i>
			  </a>
		  </div>
		  {{#each item.system.qualifiers as |qual i|}}
		  <div class="qualifier" data-qualifier-index="{{i}}">
			  <label for="qualname-{{i}}">
				  Name
			  </label>
			  <input id="qualname-{{i}}" class="name" name="system.qualifiers.{{i}}.relationshipName" type="text" list="qualifiers-{{i}}" value="{{qual.relationshipName}}">
			  <datalist id="qualifiers-{{i}}">
				  {{#each ../QUALIFIERS_NAME_LIST as |item|}}
				  <option> {{item}}</option>
				  {{/each}}
			  </datalist>
			  <input class="short" type="number" name="system.qualifiers.{{i}}.min" value="{{qual.min}}">
			  <input class="short" type="number" name="system.qualifiers.{{i}}.max" value="{{qual.max}}">
			  <a class="delete-qualifier">
				  <i class="fa-solid fa-trash"></i>
			  </a>
		  </div>
		  {{/each}}
	  </section>

  <div class="automatic">
	  <h4>Automatic</h4>
	  <textarea name="system.automatic">
		  {{trim item.system.automatic}}
	  </textarea>
  </div>

  <div class="perk">
	  <h4>
		  Perk
	  </h4>
	  <select name="system.perkType">
		  {{selectOptions PERK_TYPES localize=true selected=item.system.perkType}}
	  </select>
	  <textarea name="system.perk">
		  {{trim item.system.perk}}
	  </textarea>
  </div>

  <div class="cameo">
	  <h4> Cameo</h4>
	  <select name="system.cameoType">
		  {{selectOptions CAMEO_TYPES localize=true selected=item.system.cameoType}}
	  </select>
	  <textarea name="system.cameo">
		  {{trim item.system.cameo}}
	  </textarea>
	  <label> Cameo Opportunity</label>
	  <textarea name="system.cameoOpportunity">
		  {{trim item.system.cameoOpportunity}}
	  </textarea>
  </div>


  {{> "systems/persona/parts/card-events-section.hbs" item=item SOCIAL_DATA=SOCIAL_DATA}}

  {{> "systems/persona/parts/card-opportunity-section.hbs" item=item SOCIAL_DATA=SOCIAL_DATA}}

  <div class="boon">
	  <label>Boon</label>
	  <textarea name="system.boon">
		  {{trim item.system.boon}}
	  </textarea>
  </div>
  <div class="bane">
	  <label>Bane</label>
	  <textarea name="system.bane">
		  {{trim item.system.bane}}
	  </textarea>
  </div>

  <div class="event-modifiers">
  <h4> Universal Event Modifiers </h4>

  {{> "systems/persona/parts/effects-section-adaptable.hbs" namePrefix=(strcat "system.globalModifiers.") effects=item.system.globalModifiers POWERSTUFF=item.sheet.powerStuff item=item}}
  </div>

  {{> "systems/persona/parts/token-spends-section.hbs" item=item}}

</form>
