
<form class="social-card-sheet">

	<img class="profile-img" src="{{item.img}}" data-edit="img"/>
	<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Job Name" placeholder="Job Name">

	<div>
	 <select name="system.cardType">
		{{selectOptions SOCIAL_CARD_TYPES localize=true selected=item.system.cardType}}
	 </select>
	</div>

  <div class="perk">
	  <label> Perk</label>
	  <select name="system.perkType">
		  {{selectOptions PERK_TYPES localize=true selected=item.system.perkType}}
	  </select>
	  <textarea name="system.perk">
		  {{item.system.perk}}
	  </textarea>
  </div>

  <div class="cameo">
	  <label> Cameo</label>
	  <select name="system.cameoType">
		  {{selectOptions CAMEO_TYPES localize=true selected=item.system.cameoType}}
	  </select>
	  <textarea name="system.cameo">
		  {{item.system.cameo}}
	  </textarea>
	  <label> Cameo Opportunity</label>
	  <textarea name="system.cameoOpportunity">
		  {{item.system.cameo}}
	  </textarea>
  </div>

		  {{> "systems/persona/parts/card-opportunity-section.hbs" item=item}}

  <section class="events">
			{{> "systems/persona/parts/card-events-section.hbs" item=item}}
  </section>


</form>
