<form class="tarot-sheet">
	<header class="flexcol">
		<div class="flexrow">
			<img class="profile-img" src="{{actor.img}}" data-edit="img"/>
			<input type="text" class="borderless character-name" name="name" value="{{actor.name}}" title="Character Name" placeholder="Character Name" {{#if actor.system.locked}} disabled {{/if}}>
		</div>
	</header>

	<section class="focii">
		<h2>
			Social Link Benefits
			<a class="addFocus">
				<i class="fa-solid fa-plus"> </i>
			</a>
		</h2>

		{{#each actor.socialBenefits as |benefit|}}
		<div class="focus" data-focus-id="{{benefit.focus.id}}">
			{{#if (isGM)}}
			<div>
				<span class="level-req">
					SL {{benefit.lvl_requirement}} -
				</span>
				<a class="focusName">
					<span>
						<b>{{benefit.focus.name}}:</b>
						{{benefit.focus.system.description}}
					</span>
				</a>
				<a class="delFocus">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
			{{else}}
			{{#if (meetsSLRequirement benefit)}}
			<div class="SL-description">
				<span class="level-req">
					SL {{benefit.lvl_requirement}} -
				</span>
				<span>
					<b>{{benefit.focus.name}}:</b>
					{{benefit.focus.system.description}}
				</span>
			</div>
			{{/if}}
			{{/if}}
		</div>
		{{/each}}
</form>

