<form class="tarot-sheet">
	<header class="flexcol">
		<div class="flexrow">
			<img class="profile-img" src="{{actor.img}}" data-edit="img"/>
			<div>
				<select name="name">
					{{selectOptions CONST.TAROT localize=true selected=actor.name}}
				</select>
				<div>
					<span>
						<label>
							Sort Order
						</label>
						{{numberInput actor.system.sortOrder class="short" name="system.sortOrder" step=1 min=0 max=100}}
					</span>
				</div>
			</div>
		</div>
	</header>
	<label/> Perk
		<textarea name="system.perk"> {{actor.system.perk}} </textarea>
		<label/> Student Advantage
			<textarea name="system.studentAbility"> {{actor.system.studentAbility}} </textarea>
			<section class="focii">
				<h2>
					Social Link Benefits
					<a class="addFocus">
						<i class="fa-solid fa-plus"> </i>
					</a>
				</h2>

		{{#each actor.socialBenefits as |benefit|}}
		<div class="focus" data-focus-id="{{benefit.focus.id}}">
			{{#if (isGM)}}
			<div>
				<span class="level-req">
					SL {{benefit.lvl_requirement}} -
				</span>
				<a class="focusName">
					<span>
						<b>{{benefit.focus.name}}:</b>
						{{benefit.focus.system.description}}
					</span>
				</a>
				<a class="delFocus">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</div>
			{{else}}
			{{#if (meetsSLRequirementNPC benefit)}}
			<div class="SL-description">
				<span class="level-req">
					SL {{benefit.lvl_requirement}} -
				</span>
				<span>
					<b>{{benefit.focus.name}}:</b>
					{{benefit.focus.system.description}}
				</span>
			</div>
			{{/if}}
			{{/if}}
		</div>
		{{/each}}
</form>

