<section class="downtime-panel-header">
  <h2> Downtime</h2>
  <h3>{{actor.name}}</h3>
  <hr>
  <div class="day-weather f-row">
    <div class="day"> {{day}} </div>
    <div class="weather-icon"> {{{weatherIcon}}} </div>
  </div>

  <div class="doomsday-clock">
    <span class="title"> Doomsday: </span>
    <span class="doomsday"> {{doom.amt}} / {{doom.max}} </span>
  </div>
</section>
